@font-face {
  font-family: 'Allianz';
  src:  url('fonts/Allianz.eot?ixfqu2');
  src:  url('fonts/Allianz.eot?ixfqu2#iefix') format('embedded-opentype'),
    url('fonts/Allianz.ttf?ixfqu2') format('truetype'),
    url('fonts/Allianz.woff?ixfqu2') format('woff'),
    url('fonts/Allianz.svg?ixfqu2#Allianz') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="allianz-icon-"], [class*=" allianz-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Allianz' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.allianz-icon-business-plan:before {
  content: "\e952";
}
.allianz-icon-research-2:before {
  content: "\e953";
}
.allianz-icon-taxes:before {
  content: "\e954";
}
.allianz-icon-agreement-2:before {
  content: "\e900";
}
.allianz-icon-agreement:before {
  content: "\e901";
}
.allianz-icon-analysis:before {
  content: "\e902";
}
.allianz-icon-analytics:before {
  content: "\e903";
}
.allianz-icon-battery:before {
  content: "\e904";
}
.allianz-icon-bioengineering:before {
  content: "\e905";
}
.allianz-icon-business-and-finance:before {
  content: "\e906";
}
.allianz-icon-document:before {
  content: "\e907";
}
.allianz-icon-employee-of-the-month:before {
  content: "\e908";
}
.allianz-icon-insurance-policy:before {
  content: "\e909";
}
.allianz-icon-inverted-commas:before {
  content: "\e90a";
}
.allianz-icon-layers:before {
  content: "\e90b";
}
.allianz-icon-money:before {
  content: "\e90c";
}
.allianz-icon-open-book:before {
  content: "\e90d";
}
.allianz-icon-profit-growth:before {
  content: "\e90e";
}
.allianz-icon-profit:before {
  content: "\e90f";
}
.allianz-icon-quote-fill-top:before {
  content: "\e910";
}
.allianz-icon-quote-o-bot:before {
  content: "\e911";
}
.allianz-icon-quote:before {
  content: "\e912";
}
.allianz-icon-recession:before {
  content: "\e913";
}
.allianz-icon-reporting:before {
  content: "\e914";
}
.allianz-icon-right-quote:before {
  content: "\e915";
}
.allianz-icon-risk-management:before {
  content: "\e916";
}
.allianz-icon-room-service:before {
  content: "\e917";
}
.allianz-icon-team-management:before {
  content: "\e918";
}
.allianz-icon-work-team:before {
  content: "\e919";
}
.allianz-icon-question-and-answer:before {
  content: "\e91a";
}
.allianz-icon-knowledge:before {
  content: "\e91b";
}
.allianz-icon-expert:before {
  content: "\e91c";
}
.allianz-icon-help:before {
  content: "\e91d";
}
.allianz-icon-strategy:before {
  content: "\e91e";
}
.allianz-icon-ideas:before {
  content: "\e91f";
}
.allianz-icon-advice:before {
  content: "\e920";
}
.allianz-icon-Partnership-handshake:before {
  content: "\e921";
}
.allianz-icon-idea:before {
  content: "\e922";
}
.allianz-icon-human-resources:before {
  content: "\e923";
}
.allianz-icon-goal:before {
  content: "\e924";
}
.allianz-icon-report:before {
  content: "\e925";
}
.allianz-icon-help1:before {
  content: "\e926";
}
.allianz-icon-financial-consultant:before {
  content: "\e927";
}
.allianz-icon-networking:before {
  content: "\e928";
}
.allianz-icon-consultant:before {
  content: "\e929";
}
.allianz-icon-financial-profit:before {
  content: "\e92a";
}
.allianz-icon-management:before {
  content: "\e92e";
}
.allianz-icon-Successful:before {
  content: "\e92f";
}
.allianz-icon-help2:before {
  content: "\e930";
}
.allianz-icon-risk:before {
  content: "\e931";
}
.allianz-icon-customer-support:before {
  content: "\e932";
}
.allianz-icon-research:before {
  content: "\e933";
}
.allianz-icon-checklist:before {
  content: "\e934";
}
.allianz-icon-expert1:before {
  content: "\e935";
}
.allianz-icon-swot-analysis:before {
  content: "\e936";
}
.allianz-icon-safety:before {
  content: "\e937";
}
.allianz-icon-consultant1:before {
  content: "\e938";
}
.allianz-icon-idea1:before {
  content: "\e939";
}
.allianz-icon-solution:before {
  content: "\e93a";
}
.allianz-icon-evaluation:before {
  content: "\e93b";
}
.allianz-icon-science:before {
  content: "\e93c";
}
.allianz-icon-consultancy:before {
  content: "\e93d";
}
.allianz-icon-backlog:before {
  content: "\e93e";
}
.allianz-icon-business-meeting:before {
  content: "\e93f";
}
.allianz-icon-valuable:before {
  content: "\e940";
}
.allianz-icon-customer-support1:before {
  content: "\e941";
}
.allianz-icon-diagnosis:before {
  content: "\e942";
}
.allianz-icon-analysis1:before {
  content: "\e943";
}
.allianz-icon-question-and-answer1:before {
  content: "\e944";
}
.allianz-icon-consultant2:before {
  content: "\e945";
}
.allianz-icon-consultancy1:before {
  content: "\e946";
}
.allianz-icon-global:before {
  content: "\e947";
}
.allianz-icon-decision-making:before {
  content: "\e948";
}
.allianz-icon-market-analysis:before {
  content: "\e949";
}
.allianz-icon-video-call:before {
  content: "\e94a";
}
.allianz-icon-advice1:before {
  content: "\e94b";
}
.allianz-icon-advanced-training:before {
  content: "\e94c";
}
.allianz-icon-marketing:before {
  content: "\e94d";
}
.allianz-icon-risk-management1:before {
  content: "\e94e";
}
.allianz-icon-left-arrow1:before {
  content: "\e94f";
}
.allianz-icon-right-arrow1:before {
  content: "\e950";
}
.allianz-icon-up-right-arrow:before {
  content: "\e92b";
}
.allianz-icon-left-arrow:before {
  content: "\e92c";
}
.allianz-icon-right-arrow:before {
  content: "\e92d";
}
.allianz-icon-cart:before {
  content: "\e951";
}
