// All 
.bdr-1{
	border: 1px solid $border-color;
}
.bdr-20{
	border: 20px solid $border-color;
}
// Top
.bdr-t-1{
	border-top: 1px solid $border-color;
}
.bdr-t-2{
	border-top: 2px solid $border-color;
}
// Bottom
.bdr-b-1{
	border-bottom: 1px solid $border-color;
}
.bdr-b-2{
	border-bottom: 2px solid currentColor;
}
// Left
.bdr-l-1{
	border-left: 1px solid $border-color;
}
// Right
.bdr-r-1{
	border-right: 1px solid $border-color;
}
// Border Color
@each $color in $cms_theme_colors{
	.bdr-#{$color}{
		border-color: var(--cms-#{$color});
	}
	.bdr-hover-#{$color}:hover{
		border-color: var(--cms-#{$color});
	}
}
.bdr-dark3{
	border-color: #323232;
}