// Polygon Bottom Right
$polygon-br:(36);
@each $size in $polygon-br{
	.cms-polygon-br-#{$size}{
		clip-path: polygon(100% 0, 100% calc(100% - #{$size}px), calc(100% - #{$size}px) 100%, 0 100%, 0 0);
		[dir="rtl"] &{
			clip-path: polygon(100% 0, 100% 100%, #{$size}px 100%, 0 calc(100% - #{$size}px), 0 0);
		}
	}
}