.d-block{
	display: block!important;
}
.d-none{
	display: none;
}
.d-inline{
	display: inline;
}
.d-inline-block{
	display: inline-block;
}
/* flex */
.d-flex{
	display: flex;
	flex-wrap: wrap;
	&.flex-column{
		flex-direction: column;
	}
}
.d-inline-flex{
	display: inline-flex;
}
.flex-nowrap{
	flex-wrap: nowrap;
}
.gap{
	gap: var(--cms-gap);
}
.gap-0{
	gap: 0;
}
.gap-5{
	gap: 5px;
}
.gap-10{
	gap: 10px;
}
.gap-15{
	gap: 15px;
}
.gap-20{
	gap: 20px;
}
.gap-30{
	gap: 30px;
}
.gap-40{
	gap: 40px;
}
.gap-50{
	gap: 50px;
}
.gap-60{
	gap: 60px;
}
.row{
	margin-left: -20px;
	margin-right: -20px;
	display: flex;
	flex-wrap: wrap;
	> *{
		padding-left: 20px;
		padding-right: 20px;
	}
}
.gutter-140{
	margin: -15px -70px;
	> *{
		padding: 15px 70px;
	}
}
.gutter-120{
	margin: -15px -60px;
	> *{
		padding: 15px 60px;
	}
}
.gutter-110{
	margin: -20px -55px;
	> *{
		padding: 20px 55px;
	}
}
.gutter-100{
	margin: -15px -50px;
	> *{
		padding: 15px 50px;
	}
}
.gutter-80{
	margin: -40px;
	> *{
		padding: 40px;
	}
}
.gutter-60{
	margin: -30px;
	> *{
		padding: 30px;
	}
}
.gutter-50{
	margin: -25px;
	> *{
		padding: 25px;
	}
}
.gutter,
.gutter-40{
	margin: -20px;
	> *{
		padding: 20px;
	}
}
.gutter-30{
	margin: -15px;
	> *{
		padding: 15px;
	}
}
.gutter-20{
	margin: -10px;
	> *{
		padding: 10px;
	}
}
.gutter-10{
	margin: -5px;
	> *{
		padding: 5px;
	}
}
.flex-auto{
	flex: 0 0 auto;
}
.flex-basic{
	flex: 1 0 0%;
}
.flex-50{
	flex: 0 0 50%;
	width: 50%;
}
.flex-100{
	flex: 0 0 100%;
	width: 100%;
}
.justify-content-between{
	justify-content: space-between;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-end{
	justify-content: end;
}
.align-items-start{
	align-items:start;
}
.align-items-center{
	align-items: center;
}
.align-items-end{
	align-items:end;
}
.align-self-end{
	align-self:end;
}
.align-content-between  {
	align-content: space-between;
}
// Columns
.col-3{
	flex: 0 0 25%;
	width: 25%;
}
.col-4{
	flex: 0 0 33.333%;
	width: 33.333%;
}
.col-5{
	flex: 0 0 41.667%;
	width: 41.667%;
}
.col-6{
	flex: 0 0 50%;
	width: 50%;
}
.col-7{
	flex: 0 0 58.333%;
	width: 58.333%;
}
.col-8{
	flex: 0 0 66.667%;
	width: 66.667%;
}
.col-9{
	flex: 0 0 75%;
	width: 75%;
}
.col-12{
	flex: 0 0 100%;
	width: 100%;
}
// Flex columns
.flex-col-1>*{
	flex: 0 0 100%;
	width: 100%;
}
.flex-col-2>*{
	flex: 0 0 50%;
	width: 50%;
}
.flex-col-3>*{
	flex: 0 0 33.333%;
	width: 33.333%
}
.flex-col-4>*{
	flex: 0 0 25%;
	width: 25%;
}
.flex-col-5>*{
	flex: 0 0 20%;
	width: 20%;
}
.flex-col-6>*{
	flex: 0 0 16.667%;
	width: 16.667%;
}
// Order
.order-first,
.order-left,
.elementor-element.order-first{
	order: -1;
}
.order-last,
.order-right,
.elementor-element.order-last{
	order: 99;
}

[class^="flex-"],
[class^="col-"],
.flex-auto,
.flex-basic{
	max-width: 100%;
}
// Responsive
@media #{$max-laptop}{
	// Flex columns
	.flex-col-laptop-1>*{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-col-laptop-2>*{
		flex: 0 0 50%;
		width: 50%;
	}
	.flex-col-laptop-3>*{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.flex-col-laptop-4>*{
		flex: 0 0 25%;
		width: 25%;
	}
	.flex-col-laptop-5>*{
		flex: 0 0 20%;
		width: 20%;
	}
	.flex-col-laptop-6>*{
		flex: 0 0 16.667%;
		width: 16.667%;
	}
	// Col
	.col-laptop-8{
		flex: 0 0 66.667%;
		width: 66.667%;
	}
	.col-laptop-7{
		flex: 0 0 58.333%;
		width: 58.333%;
	}
	.col-laptop-5{
		flex: 0 0 41.667%;
		width: 41.667%;
	}
	// Justify content
	.justify-content-laptop-between{
		justify-content: space-between;
	}
	.justify-content-laptop-center{
		justify-content: center;
	}
	.justify-content-laptop-start{
		justify-content: start;
	}
	.justify-content-laptop-end{
		justify-content: end;
	}
	// Gap
	.gap-laptop-20{
		gap: 20px;
	}
	// Gutter
	.gutter-laptop-40{
		margin: -20px;
		> *{
			padding: 20px;
		}
	}
	// order 
	.order-latop-first,
	.elementor-element.order-latop-first{
		order: -1;
	}
	.order-latop-2,
	.elementor-element.order-latop-2{
		order: 2;
	}
	// Media 
	.img-laptop-cover{
		@include img-cover();
	}
}
@media #{$max-tablet-extra}{
	.col-tablet-extra-4{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.col-tablet-extra-5{
		flex: 0 0 41.667%;
		width: 41.667%;
	}
	.col-tablet-extra-6{
		flex: 0 0 50%;
		width: 50%;
	}
	.col-tablet-extra-7{
		flex: 0 0 58.333%;
		width: 58.333%;
	}
	.col-tablet-extra-8{
		flex: 0 0 66.667%;
		width: 66.667%;
	}
	.col-tablet-extra-10{
		flex: 0 0 83.333%;
		width: 83.333%;
	}
	.col-tablet-extra-12{
		flex: 0 0 100%;
		width: 100%;
	}
	// Justify content
	.justify-content-tablet-extra-between{
		justify-content: space-between;
	}
	.justify-content-tablet-extra-center{
		justify-content: center;
	}
	.justify-content-tablet-extra-start{
		justify-content: start;
	}
	.justify-content-tablet-extra-end{
		justify-content: end;
	}
	//
	.flex-tablet-extra-full{
		flex: 0 0 100%;
		width: 100%;
	}
	// Gap 
	.gap-tablet-extra-30{
		gap: 30px;
	}
	// Gutter
	.gutter-tablet-extra-40{
		margin: -20px;
		> *{
			padding: 20px;
		}
	}
	// Order
	.order-tablet-extra-first{
		order: -1!important;
	}
	// Flex columns
	.flex-col-tablet-extra-1>*{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-col-tablet-extra-2>*{
		flex: 0 0 50%;
		width: 50%;
	}
	.flex-col-tablet-extra-3>*{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.flex-col-tablet-extra-4>*{
		flex: 0 0 25%;
		width: 25%;
	}
	.flex-col-tablet-extra-5>*{
		flex: 0 0 20%;
		width: 20%;
	}
	.flex-col-tablet-extra-6>*{
		flex: 0 0 16.667%;
		width: 16.667%;
	}
	// Media 
	.img-tablet-extra-cover{
		@include img-cover();
	}
}
@media #{$max-tablet}{
	.col-tablet-3{
		flex: 0 0 25%;
		width: 25%;
	}
	.col-tablet-4{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.col-tablet-5{
		flex: 0 0 41.667%;
		width: 41.667%;
	}
	.col-tablet-6{
		flex: 0 0 50%;
		width: 50%;
	}
	.col-tablet-7{
		flex: 0 0 58.333%;
		width: 58.333%;
	}
	.col-tablet-8{
		flex: 0 0 66.667%;
		width: 66.667%;
	}
	.col-tablet-9{
		flex: 0 0 75%;
		width: 75%;
	}
	.col-tablet-10{
		flex: 0 0 83.333%;
		width: 83.333%;
	}
	.col-tablet-12,
	.flex-tablet-full{
		flex: 0 0 100%;
		width: 100%;
	}
	// Gap 
	.gap-tablet-10{
		gap: 10px;
	}
	// Justify content
	.justify-content-tablet-start{
		justify-content: start;
	}
	.justify-content-tablet-between{
		justify-content: space-between;
	}
	.justify-content-tablet-center{
		justify-content: center;
	}
	.justify-content-tablet-end{
		justify-content: end;
	}
	// Order
	.order-tablet-first{
		order: -1!important;
	}
	.order-tablet-last{
		order: 99!important;
	}
	.order-tablet-1{
		order:1!important;
	}
	.order-tablet-2{
		order: 2!important;
	}
	.order-tablet-3{
		order: 3!important;
	}
	// Flex columns
	.flex-col-tablet-1>*{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-col-tablet-2>*{
		flex: 0 0 50%;
		width: 50%;
	}
	.flex-col-tablet-3>*{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.flex-col-tablet-4>*{
		flex: 0 0 25%;
		width: 25%;
	}
	.flex-col-tablet-5>*{
		flex: 0 0 20%;
		width: 20%;
	}
	.flex-col-tablet-6>*{
		flex: 0 0 16.667%;
		width: 16.667%;
	}
	// Media 
	.img-tablet-cover{
		@include img-cover();
	}
}
@media #{$max-mobile-extra}{
	.col-mobile-extra-4{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.col-mobile-extra-8{
		flex: 0 0 66.667%;
		width: 66.667%;
	}
	.col-mobile-extra-12{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-mobile-extra-auto{
		flex: 0 0 auto;
		width: auto;
	}
	.flex-mobile-extra-basic{
		flex: 1 0 0%;
	}
	.flex-mobile-extra-full{
		flex: 0 0 100%;
		max-width: 100%;
	}
	// Order
	.order-mobile-extra-first{
		order: -1;
	}
	.order-mobile-extra-last{
		order: 99;
	}
	// Justify content
	.justify-content-mobile-extra-start{
		justify-content: start;
	}
	.justify-content-mobile-extra-between{
		justify-content: space-between;
	}
	.justify-content-mobile-extra-center{
		justify-content: center;
	}
	.justify-content-mobile-extra-end{
		justify-content: end;
	}
	// Flex columns
	.flex-col-mobile-extra-1>*{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-col-mobile-extra-2>*{
		flex: 0 0 50%;
		width: 50%;
	}
	.flex-col-mobile-extra-3>*{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.flex-col-mobile-extra-4>*{
		flex: 0 0 25%;
		width: 25%;
	}
	.flex-col-mobile-extra-5>*{
		flex: 0 0 20%;
		width: 20%;
	}
	.flex-col-mobile-extra-6>*{
		flex: 0 0 16.667%;
		width: 16.667%;
	}
	// gap
	.gap-mobile-extra-40{
		gap: 40px;
	}
	// Media 
	.img-mobile-extra-cover{
		@include img-cover();
	}
}
@media #{$max-mobile}{
	.flex-mobile-auto{
		flex: 0 0 auto;
		width: auto;
	}
	.flex-mobile-full{
		flex: 0 0 100%;
		width: 100%;
	}
	// gap
	.gap-mobile-20{
		gap: 20px;
	}
	.gap-smobile-10{
		gap: 10px;
	}
	// Columns
	.col-mobile-6{
		flex: 0 0 50%;
		width: 50%;
	}
	.col-mobile-12{
		flex: 0 0 100%;
		width: 100%;
	}
	// Justify content
	.justify-content-mobile-start{
		justify-content: start;
	}
	.justify-content-mobile-between{
		justify-content: space-between;
	}
	.justify-content-mobile-center{
		justify-content: center;
	}
	.justify-content-mobile-end{
		justify-content: end;
	}
	// Flex columns
	.flex-col-mobile-1>*{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-col-mobile-2>*{
		flex: 0 0 50%;
		width: 50%;
	}
	.flex-col-mobile-3>*{
		flex: 0 0 33.333%;
		width: 33.333%;
	}
	.flex-col-mobile-4>*{
		flex: 0 0 25%;
		width: 25%;
	}
	.flex-col-mobile-5>*{
		flex: 0 0 20%;
		width: 20%;
	}
	.flex-col-mobile-6>*{
		flex: 0 0 16.667%;
		width: 16.667%;
	}
	// Order
	.order-mobile-first{
		order: -1;
	}
	.order-mobile-last{
		order: 99;
	}
	// Media 
	.img-mobile-cover{
		@include img-cover();
	}
}
// Small Mobile
@media #{$max-smobile}{
	.col-smobile-12{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-smobile-full{
		flex: 0 0 100%;
		width: 100%;
	}
	.flex-col-smobile-1>*{
		flex: 0 0 100%;
		width: 100%;
	}
	// order
	.order-smobile-first{
		order: -1;
	}
	.order-smobile-last{
		order: 99;
	}
	.order-smobile-2{
		order: 2;
	}
}