/**
 * Result Bar
**/
.egrid-products{
	.orderby{
		visibility: hidden;
		opacity: 0;
	}
	&.egrid-products-1{
		.cms-result-order{
			border-bottom: 1px solid $border-color;
		}
		.woocommerce-widget-featured-status-list{
			margin-bottom: -3px;
		}
		.select2-container--cms-dropdown{
			margin-top: -7px;
			.selection{
				transform: translateY(7px);
				display: block;
			}
		}
	}
}
/**
 * Tabs
*/
.woocommerce-widget-featured-status-list{
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	letter-spacing: 0.68px;
	font-size: 17px;
	gap: 40px 20px;
	padding: 0;
	margin: 0;
	list-style: none;
	@media #{$max-mobile}{
		gap: 20px;
	}
	a{
		padding-bottom: 10px;
		&[href="#onsale"]{
			color: var(--cms-red);
		}
	}
}
/**
 * Filters
*/
.egrid-products-content + .egrid-modal{
    display: none;
}
.egrid-products-filters{
	.widgettitle{
		font-size: 22px;
		font-family: var(--cms-body-family);
		font-weight: var(--cms-body-weight);
		margin-bottom: 20px;
	}
	.widget{
		&:not(:last-child){
			margin-bottom: 40px;
		}
	}
	.count{
		color: #9b9b9b;
	}
}
#egrid-products-filters-popup{
	> .egrid-products-filters {
		width: 100%;
	}
}
/**
 * Filter Category
 * Filter Status
 * Filter Rating
*/
.egrid-products-categories-filter,
.egrid-products-stock-status-filter,
.egrid-products-rating-filter{
	li{
		position: relative;
		padding-inline-start: 30px;
		font-size: 16px;
		&:not(:last-child){
			padding-bottom: 6px;
		}
		a{
			&:before,
			&:after{
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				line-height: 18px;
				font-size: 10px;
				color: $white;
				text-align: center;
				position: absolute;
				left: 0;
				top: 3px;
				@include transition();
				[dir="rtl"] &{
					left: auto;
					right: 0;
				}
			}
			&:before{
				border: 1px solid var(--cms-link-regular-color);
			}
			&:after{
				opacity: 0;
				visibility: hidden;
				background-color: var(--cms-link-regular-color);
				content: "\e915";
				font-family: 'cmsi';
			}
			&:hover,
			&.chosen{
				&:after{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}
/**
 * Filter Price
*/ 
.egrid-products-price-filter{
	form{
		margin-top: 10px;
	}
	.cms-price-filter-btn{
		display: none;
	}
}
/**
 * Filter Attributes
 * Color
 *
*/
.egrid-products-color-filter{
	li:not(:last-child){
		padding-bottom: 8px;
	}
	.cms-term-color{
		width: 22px;
		height: 22px;
		border-radius: 11px;
	}
}
[egrid-products-attribute-filter="color"]{
	display: flex;
	gap:10px;
	align-items:center;
	position: relative;
	&:after{
		display: block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 10px;
		color: $white;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		background-color: var(--cms-link-regular-color);
		content: "\e915";
		font-family: 'cmsi';
		@include transition();
		position: absolute;
		top: 5px;
		right: 0;
		[dir="rtl"] &{
			left: 0;
			right: auto;
		}
	}
	&:hover,
	&.chosen{
		&:after{
			visibility: visible;
			opacity: 1;
		}
	}
	.count{
		&:before{
			content: '(';
		}
		&:after{
			content: ')';
		}
	}
}
/**
 * Filter Attributes
 * Size
 *
*/
.egrid-products-size-filter{
	li{
		:not(:last-child){
			padding-bottom: 15px;
		}
	}
}
[egrid-products-attribute-filter="size"]{
	position: relative;
	padding-inline-start: 30px;
	display: flex;
	justify-content: space-between;
	&:before,
	&:after{
		content: '';
		display: block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 10px;
		color: $white;
		text-align: center;
		position: absolute;
		left: 0;
		top: 3px;
		@include transition();
		[dir="rtl"] &{
			left: auto;
			right: 0;
		}
	}
	&:before{
		border: 1px solid var(--cms-link-regular-color);
	}
	&:after{
		opacity: 0;
		visibility: hidden;
		background-color: var(--cms-link-regular-color);
		content: "\e915";
		font-family: 'cmsi';
	}
	&:hover,
	&.chosen{
		&:after{
			visibility: visible;
			opacity: 1;
		}
	}
}
/**
 * Filter Attributes
 * Rating
**/
.wc-layered-nav-rating{
	list-style: none;
}
[egrid-products-rating-filter]{
	display: flex;
	gap: 10;
	align-items:center;
}
