[class*="cms-gradient-"]{
	.cms-gradient-render,
	.cms-gradient-render:before,
	.cms-gradient-render:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
		@include transition();
	}
	.cms-gradient-render{
		z-index: 1;
		&:before {
			opacity: 0.85;
		}
	}
	.cms-egradient-render{
		z-index: 0;
	}
}
[class*="cms-gradient-hover-"]{
	.cms-gradient-render:not(.always){
		opacity: 0;
		visibility: hidden;
	}
	&:hover{
		.cms-gradient-render:not(.always){
			opacity: 1;
			visibility: visible;
		}
	}
}
// None
.cms-gradient-none,
.cms-gradient-hover-none:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
}
// accent Top to Bottom
.cms-gradient-accent-tb,
.cms-gradient-hover-accent-tb:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-accent-regular);
			opacity: 0.9;
		}
		&:after{
			opacity: 0.95;
			background-image: -moz-linear-gradient( 90deg, rgba($accent_color_regular,0) 0%, rgba($accent_color_regular,0.04) 3%, $accent_color_regular 80%);
			background-image: -webkit-linear-gradient( 90deg, rgba($accent_color_regular,0) 0%, rgba($accent_color_regular,0.04) 3%, $accent_color_regular 80%);
			background-image: -ms-linear-gradient( 90deg, rgba($accent_color_regular,0) 0%, rgba($accent_color_regular,0.04) 3%, $accent_color_regular 80%);
		}
	}
}
// accent bottom to top
.cms-gradient-accent-bt,
.cms-gradient-hover-accent-bt:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-accent-regular);
			opacity: 0;
		}
		&:after{
			background-image: -moz-linear-gradient( -90deg, rgba($accent_color_regular,0) 0%, rgba($accent_color_regular,0) 0%, $accent_color_regular 96%);
			background-image: -webkit-linear-gradient( -90deg, rgba($accent_color_regular,0) 0%, rgba($accent_color_regular,0) 0%, $accent_color_regular 96%);
			background-image: -ms-linear-gradient( -90deg, rgba($accent_color_regular,0) 0%, rgba($accent_color_regular,0) 0%, $accent_color_regular 96%);
		}
	}
}
// accent bottom to top #2
.cms-gradient-accent-bt2,
.cms-gradient-hover-accent-bt2:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-accent-regular);
			opacity: 0.8;
		}
		&:after{
			opacity: 0.85;
			background: linear-gradient(to bottom,  rgba(37,55,69,0) 0%,rgba($accent_color_regular,0.04) 3%,rgba($accent_color_regular,1) 80%);
		}
	}
}


// Primary
.cms-gradient-primary-tb,
.cms-gradient-hover-primary-tb:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-primary-regular);
			opacity: 0.95;
		}
		&:after{
			opacity: 0.95;
			background-image: -moz-linear-gradient( 90deg, rgba($primary_color_regular,0) 0%, rgba($primary_color_regular,0.04) 3%, $primary_color_regular 80%);
			background-image: -webkit-linear-gradient( 90deg, rgba($primary_color_regular,0) 0%, rgba($primary_color_regular,0.04) 3%, $primary_color_regular 80%);
			background-image: -ms-linear-gradient( 90deg, rgba($primary_color_regular,0) 0%, rgba($primary_color_regular,0.04) 3%, $primary_color_regular 80%);
		}
	}
}
// Primary Bottom to Top
.cms-gradient-primary-bt,
.cms-gradient-hover-primary-bt:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-primary-regular);
			opacity: 0;
		}
		&:after{
			background: -moz-linear-gradient(top,  rgba($primary_color_regular,0) 0%, rgba($primary_color_regular,1) 79%, rgba($primary_color_regular,1) 100%);
			background: -webkit-linear-gradient(top,  rgba($primary_color_regular,0) 0%,rgba($primary_color_regular,1) 79%,rgba($primary_color_regular,1) 100%);
			background: linear-gradient(to bottom,  rgba($primary_color_regular,0) 0%,rgba($primary_color_regular,1) 79%,rgba($primary_color_regular,1) 100%);
		}
	}
}
// Primary Bottom to Top #2
.cms-gradient-primary-bt2,
.cms-gradient-hover-primary-bt2:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-primary-regular);
			opacity: 0.75;
		}
		&:after{
			opacity: 0.85;
			background-image: -moz-linear-gradient( -90deg, rgba($primary_color_regular,0) 0%, rgba(22,22,22,0.04) 3%, rgb(22,22,22) 80%);
		  background-image: -webkit-linear-gradient( -90deg, rgba($primary_color_regular,0) 0%, rgba(22,22,22,0.04) 3%, rgb(22,22,22) 80%);
		  background-image: -ms-linear-gradient( -90deg, rgba($primary_color_regular,0) 0%, rgba(22,22,22,0.04) 3%, rgb(22,22,22) 80%);
		}
	}
}
	
// Secondary
.cms-gradient-secondary-tb,
.cms-gradient-hover-secondary-tb:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-secondary-regular);
			opacity: 0.95;
		}
		&:after{
			opacity: 0.95;
			background-image: -moz-linear-gradient( 90deg, rgba($secondary_color_regular,0) 0%, rgba($secondary_color_regular,0.04) 3%, $secondary_color_regular 80%);
			background-image: -webkit-linear-gradient( 90deg, rgba($secondary_color_regular,0) 0%, rgba($secondary_color_regular,0.04) 3%, $secondary_color_regular 80%);
			background-image: -ms-linear-gradient( 90deg, rgba($secondary_color_regular,0) 0%, rgba($secondary_color_regular,0.04) 3%, $secondary_color_regular 80%);
		}
	}
}
.cms-gradient-secondary-bt,
.cms-gradient-hover-secondary-bt:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: var(--cms-secondary-regular);
			opacity: 0;
		}
		&:after{
			background: -moz-linear-gradient(top,  rgba($secondary_color_regular,0) 0%, rgba($secondary_color_regular,1) 79%, rgba($secondary_color_regular,1) 100%);
			background: -webkit-linear-gradient(top,  rgba($secondary_color_regular,0) 0%,rgba($secondary_color_regular,1) 79%,rgba($secondary_color_regular,1) 100%);
			background: linear-gradient(to bottom,  rgba($secondary_color_regular,0) 0%,rgba($secondary_color_regular,1) 79%,rgba($secondary_color_regular,1) 100%);
		}
	}
}
// Custom Color
.cms-gradient-black-bt,
.cms-gradient-hover-black-bt:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: #222;
			opacity: 0;
		}
		&:after{
			background: linear-gradient(to bottom,  rgba(34,34,34,0) 0%,rgba(34,34,34,0) 5%,rgba(34,34,34,1) 98%,rgba(34,34,34,1) 100%);
			opacity: 0.4;
		}
	}
}
.cms-gradient-black-bt2,
.cms-gradient-hover-black-bt2:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: #222;
			opacity: 0;
		}
		&:after{
			background: linear-gradient(to bottom,  rgba(34,34,34,0) 0%,rgba(34,34,34,0) 5%,rgba(34,34,34,1) 98%,rgba(34,34,34,1) 100%);
			opacity: 0.6;
		}
	}
}

.cms-gradient-black-bt3,
.cms-gradient-hover-black-bt3:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: #1b1a1a;
			opacity: 0.15;
		}
		&:after{
			opacity: 0.45;
			background-image: -moz-linear-gradient( -90deg, rgba(37,55,69,0) 0%, rgba(22,22,22,0.04) 3%, rgb(22,22,22) 80%);
		  background-image: -webkit-linear-gradient( -90deg, rgba(37,55,69,0) 0%, rgba(22,22,22,0.04) 3%, rgb(22,22,22) 80%);
		  background-image: -ms-linear-gradient( -90deg, rgba(37,55,69,0) 0%, rgba(22,22,22,0.04) 3%, rgb(22,22,22) 80%);
		}
	}
}
.cms-gradient-black-bt4,
.cms-gradient-hover-black-bt4:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: #1b1a1a;
			opacity: 0.05;
		}
		&:after{
			opacity: 0.45;
			background: linear-gradient(to bottom,  rgba(37,55,69,0) 0%,rgba(22,22,22,0.04) 3%,rgba(22,22,22,1) 80%);
		}
	}
}
// Grey Top to Bottom
.cms-gradient-grey-tb,
.cms-gradient-hover-grey-tb:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: transparent;
			opacity: 0;
		}
		&:after{
			opacity: 1;
			background: linear-gradient(to bottom, rgba(#f9f9f9,1) 0%,rgba(#f9f9f9,1) 34%,rgba(#f9f9f9,0) 98%,rgba(#f9f9f9,0) 100%);
		}
	}
}
// Grey Bottom to Top
.cms-gradient-grey-bt,
.cms-gradient-hover-grey-bt:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: transparent;
			opacity: 0;
		}
		&:after{
			opacity: 1;
			background: linear-gradient(315deg, rgba($accent_color_regular, 0.4) 0%, transparent 35%), linear-gradient(to bottom, rgba(243,247,251,0) 0%,rgba(245,248,250,0) 34%,rgba(249,249,249,1) 98%,rgba(249,249,249,1) 100%);
		}
	}
}
// Grey Bottom to Top #2
.cms-gradient-grey-bt2,
.cms-gradient-hover-grey-bt2:hover{
	> div > .cms-gradient-render,
	> .cms-gradient-render{
		&:before{
			background-color: transparent;
			opacity: 0;
		}
		&:after{
			opacity: 1;
			background: linear-gradient(to bottom,  rgba(#f9f9f9,0) 0%,rgba(#f9f9f9,0) 34%,rgba(#f9f9f9,1) 98%,rgba(#f9f9f9,1) 100%);
		}
	}
}

// Custom 1
.cms-gradient-inner-grow {
	background-color: rgba(22,22,22, 0.4);
	position: relative;
  &:before,
  &:after{
  	content:'';
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	border-radius: inherit;
  }
  &:before{
  	opacity: 0.4;
  	background-image: -moz-linear-gradient( -28deg, rgb(22,22,22) 0%, rgba(22,22,22, 0) 100%);
	  background-image: -webkit-linear-gradient( -28deg, rgb(22,22,22) 0%, rgba(22,22,22, 0) 100%);
	  background-image: -ms-linear-gradient( -28deg, rgb(22,22,22) 0%, rgba(22,22,22, 0) 100%);
  }
  &:after{
  	opacity: 0.15;
  	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  }
}