// Hover Animate Icon
.cms-anim-icon{
	.cms-icon{
		@include transition();
	}
	&:hover{
		.cms-icon{
			@include scale(1.2);
		}
	}
}
// Hover second image
.hover-second-img{
	img{
		transform: scale(1.06) translateX(0);
    	transition: visibility .35s ease, opacity .35s ease , transform .6s cubic-bezier(.61,1,.88,1);
	}
	.cms-second-image{
		visibility: hidden;
		opacity: 0;
		z-index: 1;
		//@include scale(1.1);
	}
	&:hover{
		img{
			transform: scale(1.06) translateX(6px);
		}
		.cms-second-image{
			visibility: visible;
			opacity: 1;
			//@include scale(1);
		}
	}
}
// Hover zoom image
.hover-image-zoom-out{
	img{
		@include transition(transform .6s cubic-bezier(.11,.21,.58,1));
	}
	&:hover {
		img{
			@include scale(1.1);
		}
	}
}
.hover-bg-image-zoom-out {
	overflow: hidden;
	&:before{
		content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: inherit;
	    background-size: cover;
	    transform-origin: center;
	    @include transition();
	}
	&:hover:before{
		@include scale(1.1);
	}
}
.hover-image-zoom-in{
	img{
		@include transition(transform .6s cubic-bezier(.11,.21,.58,1));
		@include scale(1.2);
	}
	&:hover {
		img{
			@include scale(1);
		}
	}
}
.hover-image-move{
	img{
		transform: scale(1.06) translateX(0);
    	transition: visibility .35s ease, opacity .35s ease , transform .6s cubic-bezier(.61,1,.88,1);
	}
	&:hover {
		img{
			transform: scale(1.06) translateX(6px);
		}
	}
}
// Hover underline 
.cms-hover-underline,
.cms-hover-underline-2,
.shipping-calculator-button,
.lost_password,
.woocommerce-widget-featured-status-list a,
.product-categories .cms-widget-menu-item a{
	position: relative;
	display: inline-flex;
    --cms-hover-underline-position-y: calc(100% - 1px);
    --cms-hover-underline-height: 1px;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,currentColor 0,currentColor 100%);
    line-height: 1.533;
}
.cms-hover-underline,
.cms-hover-underline-2,
.cms-hover-underline-3{
	padding-bottom: 4px;
}
//=========
.cms-hover-underline,
.shipping-calculator-button,
.lost_password,
.woocommerce-widget-featured-status-list a,
.product-categories .cms-widget-menu-item a{
    background-position: 0 var(--cms-hover-underline-position-y);
    background-size: 0 var(--cms-hover-underline-height);
    transition: background-size .5s cubic-bezier(.25,.46,.35,.94),color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    &:hover,
    &.active,
    &.current{
        background-size: 100% var(--cms-hover-underline-height);
    }
}
.product-categories .cms-widget-menu-item.current a{
	background-size: 100% var(--cms-hover-underline-height);
}
.woocommerce-widget-featured-status-list__item.chosen a{
	background-size: 100% var(--cms-hover-underline-height);
}
// Hover Underline 2
.cms-hover-underline-2{
    background-position: 100% var(--cms-hover-underline-position-y);
    background-size: 100% var(--cms-hover-underline-height);
    transition: background-size .5s cubic-bezier(.25,.46,.35,.94),color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    &:hover,
    &.active{
        animation: cms-hover-underline-forward .5s cubic-bezier(.29,.15,.34,.88) 1 forwards;
    }
}
// Hover underline 3
.cms-hover-underline-3{
	background-color: transparent;
	background-image: linear-gradient(0deg, currentColor 0, currentColor 100%);
	background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: all .3s,background-size .2s linear .15s;
    > svg{
    	//transition: stroke-dashoffset var(--stroke-duration, .15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
    }
    &:hover{
    	background-size: 0 1px;
	    transition-delay: 0s;
	    --stroke-dashoffset: 26;
	    --stroke-duration: .3s;
	    --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
	    --stroke-delay: .195s;
    }
}

// Hover content zoom-in
.hover-content-zoom-in{ 
	@media #{$min-tablet-extra}{
		.hover-content--zoom-in{
			@include transition();
			@include scale(1.5);
			visibility: hidden;
			opacity: 0;
		}
		&:hover{
			.hover-content--zoom-in{
				@include scale(1);
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
// Remove gradient
.hover-remove-gradient:hover{
	[class*="cms-gradient-"]{
		opacity: 0;
	}
}
// Hover Cursor Image
.cms-cursor-pointer{
	position: absolute;
    top: 0;
    left: 0;
    width: auto;
    opacity: 0;
    transition: opacity .3s ease-out;
    pointer-events: none;
    z-index: 2;
}
.cms-cursor--pointer{
	position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    transform: translate3d(-50%,-50%,0);
    overflow: visible;
    img{
    	position: relative;
	    display: block;
	    width: auto;
	    max-width: 300px;
	    min-width: 180px;
	    top: 25%;
	    transform: translateY(-25%);
    }
}
.cms-img-cursor:hover{
	.cms-cursor-pointer{
		opacity: 1;
	}
}
// Hover Gradient
.cms-e-gradient-holder{
	transition: opacity 1s;
	opacity: 0;
	overflow: hidden;
}
.cms-e-gradient{
	animation: cms-gradient-holder 5s linear infinite;
    animation-direction: alternate;
    animation-play-state: paused;
    z-index: 1;
}
[class^="cms-e-gradient-dot-"]{
	animation: cms-gradient-dot 5s infinite;
    animation-direction: alternate;
    animation-play-state: paused;
    background-color: currentColor;
    color: var(--cms-accent);
    animation-delay: -3s;
    position: absolute;
    opacity: 0.85;
}
.cms-e-gradient-dot-1{
    box-shadow: currentColor 0 0 80px 90px;
    bottom: -45px;
    right: 146px;
    //background: url('../images/shadow-team.webp') bottom left no-repeat;
}
.cms-e-gradient-dot-2{
    box-shadow: currentColor 0 0 100px 110px;
    bottom: -35px;
    right: 30px;
}
.cms-e-holder:hover{
	.cms-e-gradient-holder{
		opacity: 1;
	}
	.cms-e-gradient{
		animation-play-state: running;
	}
}
// Hover Show Readmore
[class*="cms-hover-show-readmore"]{
	@media #{$min-tablet-extra}{
		.cms-readmore{
			opacity: 0;
			visibility: hidden;
			@include transition();
			&.bottom-left{
				transform: translate(-100px, 100px);
				[dir="rtl"] &{
					transform: translate(-100px, -100px);
				}
			}
			&.top-right{
				transform: translate(100px, -100px);
				[dir="rtl"] &{
					transform: translate(-100px, -100px);
				}
			}
			&.in-right{
				transform: translate(100px, 0);
				[dir="rtl"] &{
					transform: translate(-100px, 0);
				}
			}
			&.in-bot-up{
				transform: translate(-100px, 100px);
				[dir="rtl"] &{
					transform: translate(100px, 100px);
				}
			}
		}
		&.active,
		&:hover{
			.cms-readmore{
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0)!important;
				&.center{
					transform: translate(-50%, -50%)!important;
				}
			}
		}
	}
}
// Hover Slide Icon 
.cms-hover-slide-icon{
	&:hover{
		.cms-hover-slide--icon{
			animation: cms-move-right .2s forwards, cms-move-right-end .4s forwards .2s;
		}
	}
}
// Hover Slide Icon UP
[class*="cms-hover-move-icon-"]{
	[class*="cms-hover-move"]{
		transition: transform .3s cubic-bezier(.46,.03,.52,.96);
    	will-change: transform;
	}
	.cms-hover-move-1{
	    transform: translate(0,0);
	    transition-delay: .1s;
	}
	.cms-hover-move-2,
	.cms-hover-move-3{
    	transition-delay: 0s;
	}
}
.cms-hover-move-icon-up{
	.cms-hover-move--icon{
		position: relative;
		overflow: hidden;
		.cms-hover-move-2,
		.cms-hover-move-3{
			position: absolute;
		}
	}
	.cms-hover-move-2{
	    transform: translate(-60px,60px);
    	transition-delay: 0s;
    	opacity: 0;
	}
	.cms-hover-move-3{
	    transform: translate(-60px,0);
    	transition-delay: 0s;
    	opacity: 0;
	}
	.alternate-move{
		.cms-hover-move-2{
			transform: translate(-100px,100px);
		}
	}
	&:hover{
		.cms-hover-move--icon-up{
			animation: cms-move-right-up .2s forwards, cms-move-right-up-end .4s forwards .2s;
		}
		.cms-hover-move-1{
			transform: translate(60px,-60px);
    		transition-delay: 0s;
		}
		.alternate-move{
			.cms-hover-move-1{
				transform: translate(100px,-100px);
			}
		}
		.cms-hover-move-2,
		.cms-hover-move-3{
	        transform: translate(0,0);
			transition-delay: .1s;
			opacity: 1;
		}
	}
}
// Hover move icon right
.cms-hover-move-icon-right{
	.cms-hover-move-2{
	    transform: translate(-60px,0px);
	}
	&:hover{
		.cms-hover-move-1{
			transform: translate(60px,0px);
    		transition-delay: 0s;
		}
		.cms-hover-move-2{
	        transform: translate(0,0);
			transition-delay: .1s;
		}
	}
}
// Hover move icon right
.cms-hover-move-icon-up-right{
	.cms-hover-move-1{
	    transform: translate(-60px,0px);
	}
	.cms-hover-move-2{
	    transform: translate(0,0);
	}
	&:hover{
		.cms-hover-move-1{
			transform: translate(0,0);
    		transition-delay: 0s;
		}
		.cms-hover-move-2{
	        transform: translate(60px,-60px);
			transition-delay: .1s;
		}
	}
}
// Hover move icon alternate
[class*="cms-hover-icon-alternate"]{
	--cms-svg-path-length: 140px;
	path{
		stroke-dashoffset: 0;
	    stroke-dasharray: var(--cms-svg-path-length);
	    transition: stroke-dashoffset 1s cubic-bezier(0,0,.44,.98);
	}
	&:hover{
		path{
			stroke-dashoffset: calc(2 * var(--cms-svg-path-length));
		}
	}
}

// Hover show icon
.cms-hover-show-icon{
	.cms-hover-show--icon{
		opacity: 0;
		visibility: hidden;
		@include transition();
	}
	&:hover{
		.cms-hover-show--icon{
			opacity: 1;
			visibility: visible;
		}
	}
}
// Hover show icon
.cms-hover-show-icon-zoomin{
	.cms-hover-show--icon{
		opacity: 0;
		visibility: hidden;
		@include transition();
		&.center{
			@include transform(scale(0) translate(-50%,-50%));
		}
	}
	&:hover{
		.cms-hover-show--icon{
			opacity: 1;
			visibility: visible;
			&.center{
				@include transform(scale(1) translate(-50%,-50%));
			}
		}
	}
}
// Hover Show
.cms-hover-show{
	[class*="cms-hover--show"]{
		opacity: 0;
		visibility: hidden;
		@include transition();
	}
	.cms-hover--show-bt{
		@include transform(translate(0, 100%));
	}
	&:hover{
		[class*="cms-hover--show"]{
			opacity: 1;
			visibility: visible;
		}
		.cms-hover--show-bt{
			@include transform(translate(0, 0));
		}
	}
}
// Hover Change
.cms-hover-change{
	&:hover,
	&:active,
	&:focus{
		.bdr-on-hover-white:not(:hover){
			border-color: $white;
		}
		.bdr-on-hover-border:not(:hover){
			border-color: $border-color;
		}
		.bdr-on-hover-primary:not(:hover){
			border-color: var(--cms-primary);
		}
		.text-on-hover-accent:not(:hover){
			color: var(--cms-accent);
		}
		.bg-on-hover-accent{
			background-color: var(--cms-accent);
		}
	}
}
// Hover Hide
@media #{$min-tablet-extra}{
	.cms-hover-hide{
		&:hover{
			.hide-on-hover{
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
// Hover Backdrop
$backdrop: blur(10px) brightness(93%);
.cms-backdrop{
	backdrop-filter: $backdrop;
}
.cms-hover-backdrop:hover {
	backdrop-filter: $backdrop;
}
.cms-hover-backdrop-psedure:before,
.cms-hover-backdrop-psedure:hover:before{
	backdrop-filter: $backdrop;
}
// Hover Background Shadow
.cms-hover-bg-shadow-1{
	&:before{
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: top right;
		background-repeat: no-repeat;
		background-size: auto;
		background-image: url('../images/bg-shadow-1.png');
		@include transform(translate(40px, -40px));
		@include transition();
	}
	&:hover{
		&:before{
			opacity: 1;
			visibility: visible;
			@include transform(translate(0, 0));
		}
	}
}