$spacing: (
	10, 20, 30, 35, 40,
	45, 50, 70, 
	110
);
$spacing_tb: (
	0, 8, 10, 20, 30, 40,
	3, 5, 7, 15, 25, 26, 35, 45, 50, 80, 90, 
	100, 110, 120, 130
);
$spacing_top: (
	10, 15, 20, 25, 30, 35, 40,
	2, 3, 5, 7, 8, 17, 27, 33, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 
	100, 105, 110, 120, 125, 130, 190, 
	210, 240, 320
);
$spacing_bot:(
	0, 3, 5, 7, 8, 10, 15, 20, 25, 30, 35, 40,
	23, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95,
	100, 110, 195, 215
);
$spacing_l:(
	5, 8, 10, 20, 30, 40,
	50, 70, 90,
	100, 110, 130
);
$spacing_r:(
	10, 20, 30, 40,
	50, 70, 80, 90,
	110, 130, 150, 220
);
$spacing_lr:(
	10, 15, 20, 30, 40,
	25, 50, 70, 90, 110
);
@each $space in $spacing{
	.p-#{$space}{
		padding: #{$space}px;
	}
}
@each $space in $spacing_top{
	.pt-#{$space}{
		padding-top: #{$space}px;
	}
}
@each $space in $spacing_bot{
	.pb-#{$space}{
		padding-bottom: #{$space}px;
	}
}
@each $space in $spacing_tb{
	.p-tb-#{$space}{
		padding-top: #{$space}px;
		padding-bottom: #{$space}px;
	}
}
@each $space in $spacing_l{
	.pl-#{$space}{
		padding-inline-start: #{$space}px;
	}
}
@each $space in $spacing_r{
	.pr-#{$space}{
		padding-inline-end: #{$space}px;
	}
}
@each $space in $spacing_lr{
	.p-lr-#{$space}{
		padding-left: #{$space}px;
		padding-right: #{$space}px;
	}
}
// Laptop
$spacing_latop:(40, 50);
$spacing_latop_top:(0, 30, 50);
$spacing_latop_bot:();
$spacing_latop_tb:();
$spacing_latop_l:(0, 10, 20, 40, 50, 70, 100);
$spacing_latop_r:(0, 20, 60, 100);
$spacing_latop_lr:(0, 20, 30);
@media #{$max-laptop}{
	@each $space in $spacing_latop{
		.p-laptop-#{$space}{
			padding: #{$space}px;
		}
	}
	@each $space in $spacing_latop_top{
		.pt-laptop-#{$space}{
			padding-top: #{$space}px;
		}
	}
	@each $space in $spacing_latop_bot{
		.pb-laptop-#{$space}{
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_latop_tb{
		.p-tb-laptop-#{$space}{
			padding-top: #{$space}px;
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_latop_l{
		.pl-laptop-#{$space}{
			padding-inline-start: #{$space}px;
		}
	}
	@each $space in $spacing_latop_r{
		.pr-laptop-#{$space}{
			padding-inline-end: #{$space}px;
		}
	}
	@each $space in $spacing_latop_lr{
		.p-lr-laptop-#{$space}{
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}
}
// Tablet extra
$spacing_tablet_extra:();
$spacing_tablet_extra_top:(0, 20, 40, 50);
$spacing_tablet_extra_bot:(0, 20, 40);
$spacing_tablet_extra_tb:();
$spacing_tablet_extra_l:(0, 20);
$spacing_tablet_extra_r:(0, 50);
$spacing_tablet_extra_lr:(0, 10, 20, 40);

@media #{$max-tablet-extra}{
	@each $space in $spacing_tablet_extra{
		.p-tablet-extra-#{$space}{
			padding: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_extra_top{
		.pt-tablet-extra-#{$space}{
			padding-top: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_extra_bot{
		.pb-tablet-extra-#{$space}{
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_extra_tb{
		.p-tb-tablet-extra-#{$space}{
			padding-top: #{$space}px;
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_extra_l{
		.pl-tablet-extra-#{$space}{
			padding-inline-start: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_extra_r{
		.pr-tablet-extra-#{$space}{
			padding-inline-end: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_extra_lr{
		.p-lr-tablet-extra-#{$space}{
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}
}
// tablet
$spacing_tablet:(40, 50);
$spacing_tablet_tb:(
	0, 30, 40, 
	50, 100
);
$spacing_tablet_top:(
	0, 10, 20, 30, 40,
	15
);
$spacing_tablet_bot:(
	10, 20, 30, 40, 
	60
);
$spacing_tablet_l:(
	0, 20, 50, 80
);
$spacing_tablet_r:(
	0, 20, 50, 80
);
$spacing_tablet_lr:(0, 20, 50);
@media #{$max-tablet}{
	@each $space in $spacing_tablet{
		.p-tablet-#{$space}{
			padding: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_tb{
		.p-tb-tablet-#{$space}{
			padding-top: #{$space}px;
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_top{
		.pt-tablet-#{$space}{
			padding-top: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_bot{
		.pb-tablet-#{$space}{
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_l{
		.pl-tablet-#{$space}{
			padding-inline-start: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_r{
		.pr-tablet-#{$space}{
			padding-inline-end: #{$space}px;
		}
	}
	@each $space in $spacing_tablet_lr{
		.p-lr-tablet-#{$space}{
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}
}
// Mobile Extra
$spacing_mobile_extra:(30);
$spacing_mobile_extra_top:(0, 10, 20, 40);
$spacing_mobile_extra_bot:(0, 20, 50);
$spacing_mobile_extra_tb:();
$spacing_mobile_extra_l:(0, 20, 50);
$spacing_mobile_extra_r:(20);
$spacing_mobile_extra_lr:(20);

@media #{$max-mobile-extra}{
	@each $space in $spacing_mobile_extra{
		.p-mobile-extra-#{$space}{
			padding: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_extra_top{
		.pt-mobile-extra-#{$space}{
			padding-top: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_extra_bot{
		.pb-mobile-extra-#{$space}{
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_extra_tb{
		.p-tb-mobile-extra-#{$space}{
			padding-top: #{$space}px;
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_extra_l{
		.pl-mobile-extra-#{$space}{
			padding-inline-start: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_extra_r{
		.pr-mobile-extra-#{$space}{
			padding-inline-end: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_extra_lr{
		.p-lr-mobile-extra-#{$space}{
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}
}
// Mobile 
$spacing_mobile:();
$spacing_mobile_top:(80, 100);
$spacing_mobile_bot:();
$spacing_mobile_tb:();
$spacing_mobile_l:(40, 50);
$spacing_mobile_r:(40);
$spacing_mobile_lr:(0, 10, 20, 40);

@media #{$max-mobile}{
	@each $space in $spacing_mobile{
		.p-mobile-#{$space}{
			padding: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_top{
		.pt-mobile-#{$space}{
			padding-top: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_bot{
		.pb-mobile-#{$space}{
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_tb{
		.p-tb-mobile-#{$space}{
			padding-top: #{$space}px;
			padding-bottom: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_l{
		.pl-mobile-#{$space}{
			padding-inline-start: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_r{
		.pr-mobile-#{$space}{
			padding-inline-end: #{$space}px;
		}
	}
	@each $space in $spacing_mobile_lr{
		.p-lr-mobile-#{$space}{
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}
}
// Small mobile
$spacing_smobile:(0, 20);
$spacing_smobile_top:();
$spacing_smobile_bot:();
$spacing_smobile_tb:();
$spacing_smobile_l:(0, 20);
$spacing_smobile_r:(0);
$spacing_smobile_lr:(0, 10, 20);

@media #{$max-smobile}{
	@each $space in $spacing_smobile{
		.p-smobile-#{$space}{
			padding: #{$space}px;
		}
	}
	@each $space in $spacing_smobile_top{
		.pt-smobile-#{$space}{
			padding-top: #{$space}px;
		}
	}
	@each $space in $spacing_smobile_l{
		.pl-smobile-#{$space}{
			padding-inline-start: #{$space}px;
		}
	}
	@each $space in $spacing_smobile_r{
		.pr-smobile-#{$space}{
			padding-inline-end: #{$space}px;
		}
	}
	@each $space in $spacing_smobile_lr{
		.p-lr-smobile-#{$space}{
			padding-left: #{$space}px;
			padding-right: #{$space}px;
		}
	}
}

// Custom 
@media (min-width: 1600px){
	.p-lr-xl-20{
		padding-left: 20px;
		padding-right: 20px;
	}
}