/* Site Modal */
.cms-modal-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(#1b1a1a, 0.7);
    backdrop-filter: blur(10px) brightness(93%);
    z-index: 999;
    &.open{
        visibility: visible;
        opacity: 1;
    }
    &.transparent{
        background-color: transparent;
    }
}
.cms-modal{
    cursor: zoom-in;
}
.cms-modal-html {
    @include transition(all 300ms ease-in-out);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) brightness(93%);
    &.open {
        opacity: 1;
        visibility: visible;
		z-index: 99999;
    }
    // position
    &.center{
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        @include transform(translate(-50%, -50%));
    }
}
.cms-modal-fade{
    left: 0;
    right: 0;
}
.cms-modal-slide{
    width: $modal_slide_width;
    max-width: 100%;
    // Left
    &-left{
        right: 100%;
        [dir="rtl"] &{
            right: auto;
            left: 100%;
        }
        &.open{
            right: calc(100vw - #{$modal_slide_width});
            @media (max-width: $modal_slide_width){
                right: 0;
            }
            [dir="rtl"] &{
                right: auto;
                left: calc(100vw - #{$modal_slide_width});
                @media (max-width: $modal_slide_width){
                    left: 0;
                }
            }
        }
    }
    // Right
    &-right{
        left: 100%;
        [dir="rtl"] &{
            left: auto;
            right: 100%;
        }
        &.open{
            left: calc(100vw - #{$modal_slide_width});
            @media (max-width: $modal_slide_width){
                left: 0;
            }
            [dir="rtl"] &{
                left: auto;
                right: calc(100vw - #{$modal_slide_width});
                @media (max-width: $modal_slide_width){
                    right: 0;
                }
            }
        }
    }
    // Up
    &-up{
        top: 100%;
        &.open{
            top: 0;
            &.center{
                top: 50%;
            }
        }
    }
    // Down
    &-down{
        bottom: 100%;
        &.open{
            bottom: 0;
        }
    }
    // Top
    &-top{
        top: -100%;
        bottom: auto;
        &.open{
            top: 0;
        }
    }
}
// Modal content
.cms-modal-content {
    width: var(--cms-modal-content-width, 100%);
    min-width: 320px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    padding: 40px;
    .cms-mousewheel{
        max-height: calc(100vh - 80px);
    }
    @media #{$max-mobile}{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.modal-no-space .cms-modal-content{
    padding: 0!important;
    .cms-mousewheel{
        height: 100vh;
        max-height: 100vh;
    }
}
.cms-modal-html {
    .cms-modal-close {
        z-index: 1;
    	position: absolute;
    	top: 0;
    	right: 0;
        width: 114px;
        height: 94px;
        line-height: 94px;
    	font-size: 14px;
        color: var(--cms-primary);
        text-align: center;
        @include transition();
        display: flex;
        justify-content:center;
        gap: 20px;
        align-items: center;
        [dir="rtl"] &{
            left: 0;
            right: auto;
        }
        .close-text{
            font-size: 15px;
            font-weight: 600;
            &:empty{
                display: none;
            }
        }

        @media #{$max-mobile}{
            width: 40px;
            height: 40px;
            line-height: 40px;
            .close-text{
                display: none;
            }
        }
    }
    .cms-close{
        cursor: pointer;
        &:hover{
            color: red;
        }
    }
}
.close-white{
    .cms-modal-close{
        color: $white;
        font-size: 15px;
        margin-top: 20px;
        margin-inline-end: 30px;
        @media #{$max-mobile}{
            color: var(--cms-primary);
        }
    }
}
/* Search Modal */
$modal_search_fiedl_height: 68px;
.cms-modal-search {
    padding: 16px 50px;
    @media #{$max-mobile}{
        padding-left: 20px;
        padding-right: 20px;
    }
    .cms-modal-content{
        padding: 0;
        width: 90%;
    }
    .search-popup{
    
    }
    .cms-search-popup-input {
        border: none;
        padding-inline-start: 40px;
        padding-inline-end: 20px;
        width: 100%;
        height: $modal_search_fiedl_height !important;
        line-height: $modal_search_fiedl_height !important;
        box-shadow: none!important;
        background-color: transparent!important;
        color: currentColor!important;
        &::placeholder{
            color: currentColor!important;
        }
        &::-webkit-input-placeholder{
            color: currentColor!important;
        }
        &::-moz-input-placeholder{
            color: currentColor!important;
        }
    }
    .cms-search-popup-submit {
        font-size: 16px;
        background: none;
        border: none;
        padding: 0;
        line-height: $modal_search_fiedl_height;
        height: $modal_search_fiedl_height;
        position: absolute;
        top: 0;
        left: 0;
        [dir="rtl"] &{
            left: auto;
            right: 0;
        }
    }
}
// Cart Modal
#cms-modal-cart {
    display: block;
    .cms-modal-content{
        height: calc(100% - 60px);
    }
    .cms-mini-cart-modal{
        height: 100%;
    }
}
.cms-mini-cart-modal {
    height: 100%;
    .widget_shopping_cart_content{
        display: flex;
        flex-wrap:wrap;
        height: 100%;
        justify-content: space-between;
    }
}