.cms-multiScroll{
    height: 100vh;
    overflow: hidden;
    &:not(.cms-rendered){
        visibility: hidden;
        opacity: 0;
    }
}
.ms-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ms-section.ms-table{
    display: table;
    width: 100%;
}
.ms-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.ms-easing {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.ms-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#multiscroll-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#multiscroll-nav.right {
    right: 17px;
}
#multiscroll-nav.left {
    left: 17px;
}
#multiscroll-nav ul{
  margin: 0;
  padding: 0;
}
#multiscroll-nav li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
#multiscroll-nav li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#multiscroll-nav li .active span{
    background: #333;
}
#multiscroll-nav span{
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.cms-multiScroll-1{
    #multiscroll-nav{
        counter-reset: counter;
        &.right{
            right: 0;
            [dir="rtl"] &{
                right: auto;
                left: 0;
            }
            a{
                margin-inline-end: 25px;
                &:hover,
                &.active{
                    padding-inline-end: 25px;
                    margin-inline-end: 0;
                }
            }
        }
        &.left{
            left: 0;
            [dir="rtl"] &{
                left: auto;
                right: 0;
            }
            a{
                margin-inline-start: 25px;
                &:hover,
                &.active{
                    padding-inline-start: 25px;
                    margin-inline-start: 0;
                }
            }
        }
        li{
            width: auto;
            height: auto;
            margin: 0 0 7px;
            span{
                display: none;
            }
        }
        a{
            display: inline;
            border-bottom: 1px solid;
            font-size: 15px;
            &:before{
                content: "0" counter(counter);
                counter-increment: counter;
            }
            &:hover,
            &.active{
                color: var(--cms-link-regular-color);
            }
        }
    }
}
.multiscroll-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    top: -2px;
    white-space: nowrap;
    max-width: 220px;
}
.multiscroll-tooltip.right {
    right: 20px;
}
.multiscroll-tooltip.left {
    left: 20px;
}
.ms-responsive .ms-hide{
    display: none;
}
.ms-scrollable {
    overflow: hidden;
    position: relative;
}
.ms-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}

// Responsive
@media #{$max-mobile}{
    html,
    body[class*="ms-viewing-"]{
        overflow-y: scroll!important;
        height: unset!important;
    }
}