// All
$cms_radius:(4, 8, 30);
@each $size in $cms_radius{
	.cms-radius-#{$size},
	.elementor img.cms-radius-#{$size}{
		--border-radius: #{$size}px;
		@include border-radius(var(--border-radius));
	}
	.cms-radius-tr-#{$size},
	.elementor img.cms-radius-tr-#{$size}{
		--border-radius: 0 #{$size}px 0 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px 0 0 0;
			@include border-radius(var(--border-radius));
		}
	}
}

// Top Left / Top Right / Bottom Left
$cms_radius_trb:();
@each $size in $cms_radius_trb{
	.cms-radius-trb-#{$size},
	.elementor img.cms-radius-trb-#{$size}{
		--border-radius: #{$size}px #{$size}px #{$size}px 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px #{$size}px 0 #{$size}px;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top Left / Top Right / Bottom Left
$cms_radius_tltrbl:();
@each $size in $cms_radius_tltrbl{
	.cms-radius-tltrbl-#{$size},
	.elementor img.cms-radius-tltrbl-#{$size}{
		--border-radius: #{$size}px #{$size}px 0 #{$size}px;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px #{$size}px #{$size}px 0;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top Left
$cms_radius_tl:();
@each $size in $cms_radius_tl{
	.cms-radius-tl-#{$size},
	.elementor img.cms-radius-tl-#{$size}{
		--border-radius: #{$size}px 0 0 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: 0 #{$size}px 0 0;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top Right
$cms_radius_tr:();
@each $size in $cms_radius_tr{
	.cms-radius-tr-#{$size},
	.elementor img.cms-radius-tr-#{$size}{
		--border-radius: 0 #{$size}px 0 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px 0 0 0;
			@include border-radius(var(--border-radius));
		}
	}
}

// Top Left / Top Right / Bottom Right
$cms_radius_trl:();
@each $size in $cms_radius_trl{
	.cms-radius-tbr-#{$size},
	.elementor img.cms-radius-tbr-#{$size}{
		--border-radius: #{$size}px #{$size}px #{$size}px 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px #{$size}px 0 #{$size}px;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top Left / Top Right / Bottom Left
$cms_radius_tltrbl:();
@each $size in $cms_radius_tltrbl{
	.cms-radius-tltrbl-#{$size},
	.elementor img.cms-radius-tltrbl-#{$size}{
		--border-radius: #{$size}px #{$size}px 0 #{$size}px;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px #{$size}px #{$size}px 0;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top left / Bottom left
$cms_radius_tlbl:(5);
@each $size in $cms_radius_tlbl{
	.cms-radius-tlbl-#{$size},
	.elementor img.cms-radius-tlbl-#{$size}{
		--border-radius: #{$size}px 0 0 #{$size}px;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: 0 #{$size}px #{$size}px 0;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top left / Bottom Right / Bottom Left
$cms_radius_tbl:();
@each $size in $cms_radius_tbl{
	.cms-radius-tbl-#{$size},
	.elementor img.cms-radius-tbl-#{$size}{
		--border-radius: #{$size}px 0 #{$size}px #{$size}px;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: 0 #{$size}px #{$size}px #{$size}px;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top right / Bottom Right
$cms_radius_trbr:();
@each $size in $cms_radius_trbr{
	.cms-radius-trbr-#{$size},
	.elementor img.cms-radius-trbr-#{$size}{
		--border-radius: 0 #{$size}px #{$size}px 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px 0 0 #{$size}px;
			@include border-radius(var(--border-radius));
		}
	}
}
// Top Right / Bottom Right / Bottom Left
$cms_radius_trbrbl:();
@each $size in $cms_radius_trbrbl{
	.cms-radius-trbrbl-#{$size},
	.elementor img.cms-radius-trbrbl-#{$size}{
		--border-radius: 0 #{$size}px #{$size}px #{$size}px;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: #{$size}px 0 #{$size}px #{$size}px;
			@include border-radius(var(--border-radius));
		}
	}
}
// Bottom left
$cms_radius_bl:();
@each $size in $cms_radius_bl{
	.cms-radius-bl-#{$size},
	.elementor img.cms-radius-bl-#{$size}{
		--border-radius: 0 0 0 #{$size}px;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: 0 0 #{$size}px 0;
			@include border-radius(var(--border-radius));
		}
	}
}
// Bottom Left / Right
$cms_radius_blbr:();
@each $size in $cms_radius_blbr{
	.cms-radius-blbr-#{$size},
	.elementor img.cms-radius-blbr-#{$size}{
		--border-radius: 0 0 #{$size}px #{$size}px;
		@include border-radius(var(--border-radius));
	}
}
// Top Left / Bottom Right
$cms_radius_tlbr:();
@each $size in $cms_radius_tlbr{
	.cms-radius-tlbr-#{$size},
	.elementor img.cms-radius-tlbr-#{$size}{
		--border-radius: #{$size}px 0 #{$size}px 0;
		@include border-radius(var(--border-radius));
		[dir="rtl"] &{
			--border-radius: 0 #{$size}px 0 #{$size}px;
			@include border-radius(var(--border-radius));
		}
	}
}

/**
 * Hover
**/
// Top Left / Top Right 
$cms_radius_hover_tltr:(5);
@each $size in $cms_radius_hover_tltr{
	.cms-radius-tltr-#{$size},
	.elementor img.cms-radius-tltr-#{$size},
	.cms-radius-hover-tltr-#{$size}:hover,
	.elementor img.cms-radius-hover-tltr-#{$size}:hover{
		--border-radius: #{$size}px #{$size}px 0 0;
		@include border-radius(var(--border-radius));
	}
}