$select2_cms_dropdown_w: 220px;
.select2-container--cms-dropdown{
	display: block!important;
	.select2-selection--single{
		color: var(--cms-primary);
		.select2-selection__rendered{
			padding-inline-end: 30px;
		}
	}
	.select2-selection__arrow{
		position: absolute;
		top: 2px;
		right: 0;
		[dir="rtl"] &{
			right: auto;
			left: 0;
		}
		&:before{
			@include font-cmsi('\e91d', 14px);
		}
	}
	.select2-dropdown{
		min-width: $select2_cms_dropdown_w;
		border: 1px solid var(--cms-primary);
		border-radius: 0;
		padding: 12px 0 12px 0;
		
	}
	.select2-results__option{
		padding: 3px 20px;
		font-size: 15px;
		color: var(--cms-primary);
		@include transition();
		&:hover{
			color: $white;
			background-color: var(--cms-primary);
		}
	}
	.select2-dropdown--above{
		@include transform(translateY(-10px));
	}
	.select2-dropdown--below{
		@include transform(translateY(10px));
	}
	// open
	&.select2-container--open{
		.select2-dropdown--above,
		.select2-dropdown--below{
			border: 1px solid var(--cms-primary);
		}
	}
}