$cms_shadow_lists:(
    '1' : '0px 5px 43px 0px rgba(27, 26, 26, 0.06)',
    '2' : '0px 5px 43px 0px rgba(27, 26, 26, 0.1)',
    '3' : '0px 5px 83px 0px rgba(27, 26, 26, 0.12)',
    '4' : '0px 4px 23px 0px rgba(27, 26, 26, 0.1)',
    '5' : '0px 5px 10px 0px rgba(27, 26, 26, 0.02)',
    '6' : '0px 4px 23px 0px rgba(27, 26, 26, 0.06)'
);
@each $name, $shadow in $cms_shadow_lists{
    .cms-shadow-#{$name},
	.elementor img.cms-shadow#{$name},
	.cms-hover-shadow-#{$name}:hover,
	.elementor .cms-hover-shadow-#{$name}:hover,
	.cms-hover-show-shadow:hover .cms-hover-shadow-#{$name},
	.cms-hover-show-shadow:hover .elementor .cms-hover-shadow-#{$name}{
        @include box-shadow(#{$shadow});
    }
    // drop shadow
	.cms-drop-shadow-#{$name},
	.cms-hover-drop-shadow-#{$name}:hover{
		@include drop-shadow(#{$shadow});
	}
}
// Multi Shadow
.cms-shadow-multi{
	opacity: 0.85;
	width: 10px;
	height: 10px;
	background: var(--cms-accent);
	box-shadow: 
		5vw -40vw 2600px 50vw var(--cms-accent-lighten), 
		50vw -20vw 2600px 50vw var(--cms-accent-lighten),
		40vw -40vw 2600px 50vw var(--cms-accent-lighten);
	[dir="rtl"] &{
		box-shadow: 
			-40vw 5vw 2600px 50vw var(--cms-accent-lighten), 
			-20vw 50vw 2600px 50vw var(--cms-accent-lighten),
			-40vw 40vw 2600px 50vw var(--cms-accent-lighten);
	}
}
