// Elementer Container
.e-con{
	position: relative;
	&.p-0,
	&.cms-econ-no-space,
	&.no-space{
		padding-block-start: 0;
		padding-block-end: 0;
		padding-inline-start:0;
		padding-inline-end: 0;
		>.e-con-inner{
			padding-block-start: 0;
			padding-block-end: 0;
			padding-inline-start:0;
			padding-inline-end: 0;
		}
	}
	&.p-tb-0{
		padding-block-start: 0;
		padding-block-end: 0;
	}
	&.p-lr-0{
		padding-inline-start: 0;
		padding-inline-end: 0;
	}
	&.p-lr-20{
		padding-inline-start: 20px;
		padding-inline-end: 20px;
	}
	&.p-lr-30{
		padding-inline-start: 30px;
		padding-inline-end: 30px;
	}
	&.p-lr-40{
		padding-inline-start: 40px;
		padding-inline-end: 40px;
	}
	&.pr-0{
		padding-inline-end:0;
	}
	// Laptop
	@media #{$max-laptop}{
		&.p-lr-laptop-0{
			padding-inline-start: 0;
			padding-inline-end: 0;
		}
		&.p-lr-laptop-10{
			padding-inline-start: 10px;
			padding-inline-end: 10px;
		}
	}
	// tablet extra
	@media #{$max-tablet-extra}{
		&.p-lr-tablet-extra-10{
			padding-inline-start: 10px;
			padding-inline-end: 10px;
		}
		&.p-lr-tablet-extra-20{
			padding-inline-start: 20px;
			padding-inline-end: 20px;
		}
		&.p-lr-tablet-extra-30{
			padding-inline-start: 30px;
			padding-inline-end: 30px;
		}
	}
	// Tablet 
	@media #{$max-tablet-extra}{
		&.p-lr-tablet-10{
			padding-inline-start: 10px;
			padding-inline-end: 10px;
		}
		&.p-lr-tablet-20{
			padding-inline-start: 20px;
			padding-inline-end: 20px;
		}
		&.pb-tablet-30{
			padding-bottom: 30px;
		}
		&.pr-tablet-10{
			padding-inline-end: 10px;
		}
	}
	// Mobile
	@media #{$max-mobile}{
		&.pt-mobile-80{
			padding-top: 80px;
		}
		&.pt-mobile-100{
			padding-top: 100px;
		}
	}
}
// Custom Container Width
.e-con.cms-econ-boxed-wide{
	@media #{$min-wide}{
		//--width: calc(100% - var(--bc-margin-inline-start, var(--margin-inline-start, 50px)) - var(--bc-margin-inline-start, var(--margin-inline-start, 50px)));
		//margin-inline-start: var(--bc-margin-inline-start, var(--margin-inline-start, 50px));
		//margin-inline-end: var(--bc-margin-inline-end, var(--margin-inline-end, 50px));
		width: calc(100% - 100px);
		margin-left: 50px;
		margin-right: 50px;
	}
}
.e-con.cms-econ-boxed-wide-con{
	@media #{$min-wide}{
		//--width: calc(100% - var(--bc-margin-inline-start, var(--margin-inline-start, 50px)) - var(--bc-margin-inline-start, var(--margin-inline-start, 50px)));
		//margin-inline-start: var(--bc-margin-inline-start, var(--margin-inline-start, 50px));
		//margin-inline-end: var(--bc-margin-inline-end, var(--margin-inline-end, 50px));
		width: calc(100% - 80px);
		margin-left: 40px;
		margin-right: 40px;
	}
}
// Custom Container Content Width
.e-con.e-flex {
	&.e-con-boxed-wide,
	&.e-con-boxed-wide-con,
	&.e-con-full-nospace{
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: initial;
    flex-grow: 1;
    flex-shrink: initial;
    align-self: initial;
  }
}
.e-flex{
	&.e-con-boxed-wide,
	&.e-con-full-nospace{
		flex-direction: var(--flex-direction);
	}
}
// Boxed Wide
.e-con-boxed-wide{
	padding-inline-start: 10px;
	padding-inline-end: 10px;
	@media #{$min-wide}{
		padding-inline-start: 50px;
		padding-inline-end: 50px;
	}
}
// Boxed Wide has container
.e-con-boxed-wide-con{
	@media #{$min-wide}{
		padding-inline-start: 40px;
		padding-inline-end: 40px;
	}
}
// No Space
.e-con-full-nospace.elementor-element{
	padding-inline-start: 0;
	padding-inline-end: 0;
}
// custom width for sidenav
#cms-side-nav .sub-megamenu .e-con-inner {
	flex-wrap: wrap;
	> .elementor-element{
		width: 100%;
		flex: 0 0 100%;
	}
}
// CMS Container Overlay
.elementor-element[data-sticky-container]{
	//overflow: hidden;
}
.cms-container-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.cms-container--overlay{
	width: 100%;
	height: 100%;
	max-height: 100vh;
}
// Shape
[class*="cms-shape-"]{
	position: absolute;
	left: 0;
	right: 0;
	svg{
		min-width: 100%;
	}
	&[data-negative="yes"],
	&[data-negative="true"]{
		transform: rotate(180deg);
	}
}
.cms-shape-top{
	margin-block-start: var(--cms-shape-top-margin-block-start, 0);
	margin-block-end: var(--cms-shape-top-margin-block-end, 0);
	margin-inline-start: var(--cms-shape-top-margin-inline-start, 0);
	margin-inline-end: var(--cms-shape-top-margin-inline-end, 0);
	top: 0;
	svg{
		width: calc(100% + var(--cms-shape-top-margin-inline-start, 0) + var(--cms-shape-top-margin-inline-end, 0));
		fill: var(--cms-shape-top-color, #fff);
	}
}
.cms-shape-bottom{
	margin-block-start: var(--cms-shape-bottom-margin-block-start, 0);
	margin-block-end: var(--cms-shape-bottom-margin-block-end, 0);
	margin-inline-start: var(--cms-shape-bottom-margin-inline-start, 0);
	margin-inline-end: var(--cms-shape-bottom-margin-inline-end, 0);
	bottom: 0;
	svg{
		width: calc(100% + var(--cms-shape-bottom-margin-inline-start, 0) + var(--cms-shape-bottom-margin-inline-end, 0));
		fill: var(--cms-shape-bottom-color, #fff);
	}
}
// Shasow
.cms-econ-shadow-gradient{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 0;
	transform: translate(-50%, -50%);
	&:before,
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 150px 100px var(--cms-accent);
		display: block;
	}
	&:before{
		transform: rotate(80deg) translateX(-150px);
	}
	&:after{
		transform: rotate(-20deg) translateX(-150px);
	}
}
.cms-econ-shadow{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: auto;
}
.cms-econ-shadow-1{
	background: url('../images/shadow-1.png') center center no-repeat;
}
.cms-econ-shadow-2{
	background: url('../images/shadow-2.webp') bottom left no-repeat;
}
.cms-econ-shadow-4{
	background: url('../images/shadow-4.webp') top center no-repeat;
}
.cms-econ-shadow-7{
	background: url('../images/shadow-7.webp') top center no-repeat;
}
// Elementor Sections
.elementor-element{
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media #{$min-tablet-extra}{
  	background-attachment: fixed;
  }
}
.elementor-section {
	background-position: center center;
	.elementor-container{
		flex-wrap: wrap;
	}
	&.cms-esection-horiz-align-{
		&center > .elementor-container{
			justify-content:center;
		}
		&end{
			justify-content:end;
		}
		&between{
			justify-content: space-between;
		}
	}
	> .elementor-shape{
		z-index: 1;
	}
	> .elementor-container{
		z-index: 2;
	}
}
.elementor-element .elementor-column-gap-default>.elementor-column>.elementor-element-populated{
	padding: 20px;
}
.elementor-background-overlay{
	//z-index: 1;
}
.flex-nowrap > .elementor-container{
	flex-wrap: nowrap;
}
// Section Gap
.elementor-container{
	&.elementor-column-gap-narrow{
		padding-left: 15px;
		padding-right: 15px;
	}
}
/**
 * Section Style
*/
// Section full content with space left/right
@media #{$min-wide}{
	.cms-full-content-with-space-end,
	.e-con-full-space-end{
	  padding-inline-end: calc((100% - var(--content-width))/2);
	  padding-inline-start: 0;
	}
	.cms-full-content-with-space-start,
	.e-con-full-space-start{
	  padding-inline-start: calc((100% - var(--content-width))/2);
	  padding-inline-end: 0;
	}
	.cms-full-content-with-space-end-wide,
	.e-con-full-space-end-wide{
	  padding-inline-end: calc((100% - 1440px)/2);
	  padding-inline-start: 0;
	}
	.cms-full-content-with-space-start-wide,
	.e-con-full-space-start-wide{
	  padding-inline-start: calc((100% - 1440px)/2);
	 	padding-inline-end: 0;
	}
	.cms-full-content-with-space-both-30{
		padding-left: 30px;
		padding-right: 30px;
	}

	// Boxed Background 
	.cms-boxed-bg-{
		&both{
			margin-left: calc((100% - 1320px)/2);
			margin-right: calc((100% - 1320px)/2);
		}
		&both-large{
			margin-left: calc((100% - 1440px)/2);
			margin-right: calc((100% - 1440px)/2);
		}
		&both-wide{
			margin-left: 60px;
			margin-right: 60px;
			&.cms-full-content-with-space-start{
			  padding-inline-start: calc((100% - 1320px)/2 - 60px);
			}
		}
		&both-wide2{
			margin-left: 50px;
			margin-right: 50px;
			&.cms-full-content-with-space-start{
			  padding-inline-start: calc((100% - 1320px)/2 - 50px);
			}
		}
		&start{
			margin-inline-start: calc((100% - 1280px)/2);
			>.elementor-container{
				margin-inline-start:0!important;
				max-width: 1300px!important;
			}
		}
		&start-wide{
			margin-inline-start: calc((100% - 1440px)/2);
		}
		&end{
			margin-inline-end: calc((100% - 1280px)/2);
			>.elementor-container{
				margin-inline-end:0!important;
				max-width: 1300px!important;
			}
		}
		&end-wide{
			margin-inline-end: calc((100% - 1440px)/2);
		}
	}
}

// Section Edge
.cms-section-edge{
	display: none;
	width: 15%;
    max-width: 180px;
    z-index: 1;
	&:not(.cms-section-edge-no){
		display: inline-flex;
	}
	> svg{
		overflow: visible;
	}
}
.cms-section-edge-top-left,
.cms-section-edge-top-right{
	margin-top: -1px;
}
.cms-section-edge-bot-left,
.cms-section-edge-bot-right{
	margin-bottom: -1px;
}
.cms-edge{
	width: 32.7272727272727%;
    max-width: 180px;
    .fill-secondary{
    	opacity: 0.9;
    }
}
.cms_floating_image_image{
	transform: translateY(0);
    transition: transform 1200ms ease-out;
}
.cms-edge-front-true .cms-section-edge{
	z-index: 3;
}
// Section banner
.cms-section-banner-{
	&yes{
		.cms-section-banner{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 670px;
			max-width: 50%;
			height: 540px;
			max-height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			// responsive
			@media #{$max-smobile}{
				display: none;
			}
			[dir="rtl"] &{
				right: auto;
				left: 0;
			}
		}
		&.cms-section-banner-style-1{
			background-size: auto;
			background-repeat: no-repeat;
			background-position: top right;
		}
	}
	// remore YES / NO
	&no{
		.cms-section-banner{
			display: none;
		}
	}
}
// Section Corner
.cms-section-corner{
	width: 21.25%;
	max-width: 360px;
	aspect-ratio: 360/304;
	&-top-left{
		clip-path: polygon(0 0, 0 100%, 100% 0);
	}
	&-top-right{
		clip-path: polygon(100% 0, 0 0, 100% 100%);
	}
	&-bot-left{
		clip-path: polygon(0 0, 0 100%, 100% 100%);
	}
	&-bot-right{
		clip-path: polygon(100% 100%, 100% 0, 0 100%);
	}
}


// Columns
.elementor-column.overflow-hidden > .elementor-widget-wrap,
.elementor-element.overflow-hidden > .elementor-widget-container{
	overflow: inherit;
}
.elementor-widget-wrap>.elementor-element.mr-n5{
	width: calc(100% + 5px);
}
@media #{$min-desktop}{
	.elementor-column{	
		&[data-col="auto"],
		&.elementor-col-auto{
			flex: 0 0 auto;
		    width: auto;
		    max-width: 100%;
		}
		&[data-col="basic"],
		&.elementor-col-basic{
			flex-basis: 0;
		    flex-grow: 1;
		    max-width: 100%;
		}
	}
}
.e-h100,
.e-h100>.elementor-widget-container{
	height: 100%;
}
// element divider
.cms-full-width{
	.elementor-divider{
		position: relative;
		.elementor-divider-separator{
			width: 100vw!important;
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
}

// Custom Element Section Structure
@media (min-width: 768px){
	.elementor-column.elementor-col-42, 
	.elementor-column[data-col="42"] {
	    width: 42%;
	}
	.elementor-column.elementor-col-58, 
	.elementor-column[data-col="58"] {
	    width: 58%;
	}
}