.header-layout-2{
	@media #{$min-wide}{
		&.header-transparent{
			&:not(.header-sticky-show):not(.header-sticky-hidden){
				margin-inline-start: 50px;
				margin-inline-end: 50px;
				width: calc(100% - 100px);
				// add space top
				.cms-header-main{
					margin-top: 30px;
					padding-left: 0!important;
					padding-right: 0!important;
				}
				// remove space top when have header-top
				.cms-header-top + .cms-header-main{
					margin-top: 0;
				}

				&.header-transparent-divider{
					.cms-header-main{
						border-top: 1px solid rgba(255, 255, 255, 0.15);
					}
					// Make divider at bottom of Menu Li
			    .cms-primary-menu.cms-menu-line-li{
			        > li > a:after{
			            bottom: 0;
			        }
			    }
				}
				// Container
				.container--full{
					padding-inline-start: 0;
					padding-inline-end: 0;
				}
			}
		}
	}
}