.header-layout-3{
	@media (min-width: $mobile-menu-screen){
		&:not(.header-sticky-show){
			.cms-header-nav-tools{
				position: relative;
				&:before{
					content: '';
					position: absolute;
					top: 0;
					right: -100px;
					bottom: 0;
					left: 0;
					border-radius: 0 0 0 8px;
					background: rgba(#1b1a1a, 0.3);
					[dir="rtl"] &{
						border-radius: 0 0 8px 0;
						right: 0;
						left: -100px;
					}
				}
			}
		}
	}
}