.cms-main{
	&:not(.is-elementor){
		padding-top: 90px;
		padding-bottom: 90px;
	}
	// No Sidebar
	&.container.no-sidebar{
		max-width: 880px;
	}
}
.cms-main-sidebar{
	gap: 70px;
	.cms-main-content{
		flex: 0 0 65.625%;
	}
	@media #{$min-tablet-extra}{
		// Fix for WooCommerce Page
		&.cms-woo-sidebar .cms-main-content{
			flex: 0 0 74.21875%;
		}
	}
	@media #{$max-laptop-large}{
		gap: 40px;
	}
	@media #{$max-tablet-extra}{
		.cms-main-content{
			flex: 0 0 60%;
		}
	}
	@media #{$max-tablet}{
		.cms-main-content{
			flex: 0 0 60%;
		}
	}
	@media #{$max-mobile-extra}{
		.cms-main-content{
			flex: 0 0 100%;
		}
	}
	&.cms-woo-sidebar{
		gap: 40px;
	}
}
// Post Type Archive
.post-type-archive-product{
	.cms-main-sidebar{
		@media #{$max-tablet}{
			.cms-main-content{
				flex: 0 0 100%;
				width: 100%;
			}
		}
	}
}