body {
    background-color: var(--cms-body-bg);
    font-family: var(--cms-body-family);
    font-size: var(--cms-body-size);
    font-weight: var(--cms-body-weight);
    font-style: var(--cms-body-style);
    color: var(--cms-body-color);
    line-height: var(--cms-body-line-height);
    letter-spacing: 0;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    word-break: break-word;
    overflow-x: clip;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    // SVG Color
    fill: currentColor;
}
.cms-eicon-uploaded-svg{
    fill: currentColor;
}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
// link
a {
    text-decoration: none;
    @include transition(); // .3s cubic-bezier(.24, .74, .58, 1)
    color: var(--cms-link-regular-color);
    &:hover{
        color: var(--cms-link-hover-color);
    }
    &.active,
    &.current{
        color: var(--cms-link-active-color);
    }
}
p {
    margin-bottom: 25px;
    &:last-child{
        clear: both;
        margin-bottom: 0;
    }
}
img{
    @include transition();
    &.h-100{
        height: 100%!important;
    }
}
// Headings
//--------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--cms-heading-family);
    font-weight: var(--cms-heading-weight);
    font-style: var(--cms-heading-style);
    color: var(--cms-heading-regular);
    line-height: var(--cms-heading-line-height);
    clear: both;
    margin: 0;
    > a{
        color: inherit;
    }
}
.cms-heading{
    color: var(--cms-heading-regular);
    font-family: var(--cms-heading-family);
    font-weight: var(--cms-heading-weight);
    font-style: var(--cms-heading-style);
    line-height: var(--cms-heading-line-height);
}
.heading{
    font-family: var(--cms-heading-family);
}
h1,
.h1 {
    font-size: 55px;
    @media #{$max-tablet}{
        font-size: 45px;
    }
    @media #{$max-mobile}{
        font-size: 40px;
    }
}

h2,
.h2 {
    font-size: 40px;
    @media #{$max-tablet}{
        font-size: 35px;
    }
    @media #{$max-mobile}{
        font-size: 30px;
    }
}

h3,
.h3 {
    font-size: 26px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}

label,
.label {
    font-weight: 700;
    font-size: 14px;
    color: var(--cms-heading-regular);
    margin-bottom: 0;
}

table {
    border: 1px solid #d9e3e0;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin: 0 0 32px;
    width: 100%;
    @include border-radius(4px);
    th {
        color: var(--cms-heading-regular);
    }
}

caption,
td {
    font-weight: normal;
    text-align: left;
}

$table-border-color: #d9e3e0;
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 13px 8px;
}

th {
    font-weight: 700;
    padding: 10px;
    &:not(:last-child){
        border-right: 1px solid $table-border-color;
    }
}

td {
    border-top: 1px solid $table-border-color;
    padding: 10px;
    &:not(:last-child){
        border-right: 1px solid $table-border-color;
    }
}

/*--- Definition Lists ---*/
dl {
    margin: 0 0 0 25px;
}

dl dt {
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

dl dd {
    line-height: normal;
    margin-bottom: 20px;

    a {
        color: #000;

        &:hover {
            color: var(--cms-primary-regular);
        }
    }
}

code,
kbd {
    background-color: transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 100%;
    padding: 2px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

ins {
    text-decoration: none;
}

pre {
    background: #f5f5f5;
    color: #666;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ul {
    padding: 0;
    margin: 0 0 15px;
    li {
        list-style-position: inside;
    }
}

dl+h2+ul {
    padding-left: 35px;

    ul {
        padding-left: 35px;

        li {
            list-style: outside;
        }
    }
}

.post-password-form {
    label {
        display: block;
        max-width: 60%;
    }

    input {
        margin: 10px 0;
    }
}

@media #{$max-mobile} {
    .post-password-form label {
        max-width: 60%;
    }
}
blockquote {
    font-family: var(--cms-font-heading);
    background-color: #f9f9f9;
    padding: 24px 57px 24px 37px;
    font-size: 19px;
    line-height: 30px;
    color: var(--cms-heading-regular);
    font-weight: 700;
    position: relative;
    margin-top: 40px;
    margin-bottom: 34px;

    &:before {
        content: '';
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--cms-primary-regular);
    }

    @media #{$max-mobile} {
        padding-left: 20px;
        padding-right: 20px;
    }

    cite {
        display: block;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        margin-top: 7px;
        color: #6f6f6f;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
.font-body{
    font-family: var(--cms-body-family);
}
.font-700{
    font-weight: 700;
}
.font-600{
    font-weight: 600;
}
.font-500{
    font-weight: 500;
}
.font-400{
    font-weight: 400;
}
.font-300{
    font-weight: 300;
}
.font-italic,
.text-italic{
    font-style: italic;
}

// Font Size
$text_sizes:(
    10, 11, 12, 13, 14, 15, 16, 20, 30, 40, 48, 64, 68,
    17, 18, 22, 24, 25, 26, 32, 35, 36, 42, 45, 50, 55, 65, 70, 90, 95, 96, 
    110, 130, 160, 195
);
@each $size in $text_sizes {
    .text-#{$size} {
        font-size: #{$size}px;
        > svg{
            width: #{$size}px;
            height: #{$size}px;
        }
    }
}
// Laptop
$text_sizes_laptop:(
    20, 24
);
@media #{$max-laptop}{
    @each $size in $text_sizes_laptop {
        .text-laptop-#{$size} {
            font-size: #{$size}px;
            > svg{
                width: #{$size}px;
                height: #{$size}px;
            }
        }
    }
}
// Tablet Extra
$text_sizes_tablet_extra:(
    60
);
@media #{$max-tablet-extra}{
    @each $size in $text_sizes_tablet_extra {
        .text-tablet-extra-#{$size} {
            font-size: #{$size}px;
            > svg{
                width: #{$size}px;
                height: #{$size}px;
            }
        }
    }
}
// Tablet
$text_sizes_tablet:(
    30, 36, 40, 50, 60, 80
);
@media #{$max-tablet}{
    @each $size in $text_sizes_tablet {
        .text-tablet-#{$size} {
            font-size: #{$size}px;
            > svg{
                width: #{$size}px;
                height: #{$size}px;
            }
        }
    }
}

$text_sizes_mobile_extra:(
    20
);
@media #{$max-mobile-extra}{
    @each $size in $text_sizes_mobile_extra {
        .text-mobile-extra-#{$size} {
            font-size: #{$size}px;
            > svg{
                width: #{$size}px;
                height: #{$size}px;
            }
        }
    }
}

$text_sizes_mobile:(
    20, 30, 40
);
@media #{$max-mobile}{
    @each $size in $text_sizes_mobile {
        .text-mobile-#{$size} {
            font-size: #{$size}px;
            > svg{
                width: #{$size}px;
                height: #{$size}px;
            }
        }
    }
}
$text_sizes_smobile:(
    20, 30, 40, 60, 100
);
@media #{$max-smobile}{
    @each $size in $text_sizes_smobile {
        .text-smobile-#{$size} {
            font-size: #{$size}px;
            > svg{
                width: #{$size}px;
                height: #{$size}px;
            }
        }
    }
}
/**
 * Colors
**/
$text_colors:(
    'body'
);
@each $color in $text_colors{
    .text-#{$color},
    .text-hover-#{$color}:hover,
    .text-active-#{$color}.active,
    .active > .text-active-#{$color}{
        color: #{'var(--cms-#{$color})'};
    }
}
.text-meta{
    color: var(--cms-meta-color);
}
// Theme color
@each $color in $cms_theme_colors{
    .text-#{$color},
    .text-hover-#{$color}:hover,
    .text-active-#{$color}.active,
    .active > .text-active-#{$color}{
        color: #{'var(--cms-#{$color})'};
    }
}
// Fix
.text-primary,
.text-hover-primary:hover{
    color: var(--cms-primary-regular);
}
.text-secondary,
.text-hover-secondary:hover{
    color: var(--cms-secondary-regular);
}
.text-heading,
.text-hover-heading:hover{
    color: var(--cms-heading-regular);
}
.text-white,
.text-hover-white:hover{
    color: #fff;
}
.text-border{
    color: $border-color;
}
.text-rate{
    color: #ffc400;
}
[class*="text-hover-"]:hover {
    .text-on-hover{
        color: currentColor;
    }
    .text-on-hover-primary:not(:hover){
        color: var(--cms-primary);
    }
    .text-on-hover-accent:not(:hover){
        color: var(--cms-accent);
    }
}
.text-mixed,
.text-mixed:hover{
    mixed-blend-mode: difference;
}
/**
 * Text Style
*/
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capitalize{
    text-transform: capitalize;
}
/**
 * Line height
*/
$text_line_heights:(
    '0'     : '0',
    '1'     : '1',
    '1.1'   : '1.1',
    '1227'  : '1.230',
    '1375'  : '1.375',
    '1533'  : '1.533'
);
@each $name, $line-height in $text_line_heights{
    .lh-#{$name}{
        line-height: #{$line-height};
    }
}
/**
 * Fixed Number Line
*/
[class*='text-line-'],
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    //display: -webkit-box;
    -webkit-box-orient: vertical;
}
[class*='text-line-']{
    display: -webkit-box;
}
$text_lines:(
    1, 2, 3, 4, 5, 6
);
@each $line in $text_lines{
    .text-line-#{$line}{
        -webkit-line-clamp: #{$line};
    }
}
.text-ellipsis{
    white-space: nowrap;
}
.text-underline{
    border-bottom: 2px solid;
}
.text-nowrap{
    white-space: nowrap;
    overflow: hidden;
}
/**
 * Letter Spacing
*/
$cms_letter_spacing:(
    '06' : '0.6',
    '05' : '0.5',
    '03' : '0.3',
    1 : 1,
    2 : 2
);
@each $name, $space in $cms_letter_spacing{
    .ls-#{$name}{
        letter-spacing: #{$space}px;
    }
}
/**
 * List
*/
ul,
ol{
    &[class]{
        list-style: none;
    }
    &:not([class]){
        ul, ol{
            padding-inline-start: 15px;
        }
    }
}
// Text black & white base on background
.text-blackwhite{
    mix-blend-mode: difference;
}