// Color 
$_white: #fff;
$white: $_white;
$border-color: var(--cms-border-color);
$accent_color: $accent_color_regular;
$primary_color: $primary_color_regular;
// Rating
$star_icon_font: "cmsi";
$star_icon: "\e912\e912\e912\e912\e912";
$star_icon_filled: "\e905\e905\e905\e905\e905";
$star_icon_color: var(--cms-primary);
$star_icon_filled_color: var(--cms-accent);
$star_icon_w: 95px;
$star_icon_h: 14px;
$star_icon_space: 5px;
// WooCommerce
$wc_star_color: var(--cms-primary);
$wc_star_hover_color: var(--cms-primary);

// Grid
$gutters: 40px;
$gap: $gutters;
$container-width: 1280px;
// Modal
$modal_slide_width: var(--cms-modal-width, 400px);
// Mousewheel
$mousewheel-width: 80px;

// Reponsive
$mobile-menu-screen: 1280px;

$min-wide: "screen and (min-width: 1600px)";

$min-desktop: "screen and (min-width: 1201px)";

$max-laptop-large: "screen and (max-width: 1599px)";
$max-laptop: "screen and (max-width: 1366px)";
$min-laptop: "screen and (min-width: 1201px)";

$max-tablet-extra: "screen and (max-width: 1200px)";
$min-tablet-extra: "screen and (min-width: 1025px)";
$min-881: "screen and (min-width: 881px)";

$max-tablet: "screen and (max-width: 1024px)";
$min-tablet: "screen and (min-width: 768px)";
$min-max-tablet: "screen and (min-width: 769px) and (max-width: 1024px)";

$max-xmobile: "screen and (max-width: 1023px)";

$max-mobile-extra : "screen and (max-width: 880px)";
$min-mobile-extra : "screen and (min-width: 768px)";

$max-mobile: "screen and (max-width: 767px)";

$max-smobile: "screen and (max-width: 575px)";

$hidden-wide: "screen and (min-width: 1600px)";
$hidden-desktop: "screen and (min-width: 1367px)";

$hidden-min-mobile-extra: "screen and (min-width: 768px)";

$hidden-laptop-large: "screen and (max-width: 1599px)";
$hidden-laptop: "screen and (max-width: 1366px)";

$hidden-tablet: "screen and (min-width: 1025px)";
$hidden-max-tablet: "screen and (max-width: 1024px)";

// fix
:root{
	// Fix
	--cms-accent: var(--cms-accent-regular);
	--cms-accent-rgb: var(--cms-accent-regular-rgb);
	--cms-primary: var(--cms-primary-regular);
	--cms-primary-rgb: var(--cms-primary-regular-rgb);
	--cms-secondary: var(--cms-secondary-regular);
	--cms-secondary-rgb: var(--cms-secondary-regular-rgb);
	--cms-white: #{$_white};
	--cms-white-regular: #{$_white};
	--cms-border-color: #eaeaea;

	// Dropdown
	--dropdown-regular: var(--cms-primary-regular);
	--dropdown-hover: var(--cms-accent-regular);
	--dropdown-bg: var(--cms-white);
	--dropdown-shadow: 0px 5px 83px 0px rgba(6, 52, 100, 0.15);
	--dropdown-radius: 0;
	
	// Gap
	--cms-gap: #{$gutters};
	--cms-gap-laptop: var(--cms-gap);
	--cms-gap-tablet-extra:var(--cms-gap-laptop);
	--cms-gap-tablet: var(--cms-gap-tablet-extra);
	--cms-gap-mobile-extra: var(--cms-gap-tablet);
	--cms-gap-mobile: var(--cms-gap-mobile-extra);
	--cms-gap-smobile: var(--cms-gap-mobile);
	
	//Gutter
	--cms-gutter: #{$gutters};
	--cms-gutter-laptop: var(--cms-gutter);
	--cms-gutter-tablet-extra:var(--cms-gutter-laptop);
	--cms-gutter-tablet: var(--cms-gutter-tablet-extra);
	--cms-gutter-mobile-extra: var(--cms-gutter-tablet);
	--cms-gutter-mobile: var(--cms-gutter-mobile-extra);
	--cms-gutter-smobile: var(--cms-gutter-mobile);
}
