.cms-wgtitle{
	margin-bottom: 25px;
}
// Search
.search-form{
	position: relative;
	.search-submit{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: none;
		color: var(--cms-secondary-regular);
		font-size: 16px;
		padding: 0 25px;
		[dir="rtl"] &{
			right: auto;
			left: 0;
		}
		.cmsi-search{
			font-size: 16px;
		}
	}
	.search-field{
		height: 65px!important;
		line-height: 65px!important;
	}
}
// widget CMS Category
.widget_cms_categories{
	.cms-wgtitle{
		margin-bottom: 15px;
	}
}
// Widget Recent Post
.widget_cms_recent_posts{
	.cms-item{
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	.cms-meta{
		margin-top: -5px;
	}
}
// Widget Gallery 
.widget_cms_media_gallery{
	a{
		position: relative;
		&:before{
			content: "\e92d";
			font-family: 'cmsi';
			width: 48px;
			height: 48px;
			line-height: 48px;
			font-size: 20px;
			text-align: center;
			background-color: $_white;
			visibility: hidden;
			opacity: 0;
			@include transition();
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%) scale(0));
			color: var(--cms-primary);
		}
		&:hover{
			&:before{
				visibility: visible;
				opacity: 1;
				@include transform(translate(-50%,-50%) scale(1));
			}
		}
	}
}
// Widget Follow Us
.widget_cms_follow_us{
	.cms-wg-follow-us{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		font-size: 20px;
	}
	a:hover{
		@include scale(1.3);
	}
}
// Tags Cloud
.tagcloud{
	font-size: 13px;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	a{
		padding: 2px 10px;
		border-radius: 4px;
		border: 1px solid currentColor;
		&:hover{
			color: $white;
			background-color: var(--cms-accent);
			border-color: var(--cms-accent);
		}
	}
}
.widget_tag_cloud{
	.cms-wgtitle{
		margin-bottom: 20px;
	}
}
// Calendar 
.wp-calendar-table{
	font-size: 15px;
}
// Navigation in widget
.cms-widget{
	nav[aria-label]{
		font-size: 15px;
		ul{
			list-style: none;
			margin: 0;
		}
		.menu-item-type-taxonomy,
		.cms-list-item {
			a{
				font-size: 15px;
				font-weight: 600;
				padding: 21px 30px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: $white;
				background-color: var(--cms-primary);
				@media #{$max-smobile}{
					padding: 21px 20px;
				}
				.count{
					min-width: 26px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					font-weight: normal;
					font-size: 12px;
					padding: 0 5px;
					@include border-radius(13px);
					background-color: $white;
					color: var(--cms-primary);
					@include transition();
				}
				&:hover{
					color: $white;
					background-color: var(--cms-accent);
				}
			}
			&.current-menu-item,
			&.current{
				a{
					background-color: var(--cms-accent);
				}
			}
			&:not(:last-child) a{
				margin-bottom: 10px;
			}
		}
		//
		.menu-item-type-taxonomy{
			.menu-title{
				display: flex;
				justify-content: space-between;
				flex: 0 0 100%;
			}
		}
		.children,
		.sub-menu{
			margin-bottom: 0;
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px solid #d9e0e9;
			padding-left: 10px;
			[dir="rtl"] &{
				padding-left: 0;
				padding-right: 10px;
			}
		}
	}
}
// RSS
.widget_rss{
	.rss-date{
		font-size: 13px;
		display: block;
	}
	cite{
		font-family: var(--cms-heading-family);
		font-weight: var(--cms-heading-weight);
		color: var(--cms-heading-regular);
	}
}
// Sidebar
#cms-sidebar{
	.cms-wgtitle{
		font-size: 22px;
		font-weight: 600;
		margin: -8px 0 20px;
	}
	.cms-widget{
		margin-bottom: 40px;
		position: relative;
		background-color: #f9f9f9;
		background-image: linear-gradient(135deg,  rgba(var(--cms-accent-regular-rgb),0) 80%,rgba(var(--cms-accent-regular-rgb),0.4) 99%,rgba(var(--cms-accent-regular-rgb), 0.4) 100%);
		padding: 50px;
		@media #{$max-smobile}{
			padding: 50px 20px;
		}
		&.widget_cms_search{
			background: var(--cms-accent);
			color: $white;
			.cms-wgtitle{
				color: $white;
			}
			.cms-search-field{
				box-shadow: none;
				height: 64px;
				line-height: 64px;
				color: var(--cms-primary);
				&::placeholder{
					color: currentColor;
				}
			}
		}
	}
}
// Shop Sidebar
.cms-shop-sidebar{
	@media (min-width: 1280px){
		padding-inline-start: 30px;
	}
}
.cms-shop-widget{
	margin-bottom: 50px;
	// Category
	.product-categories,
	.woocommerce-widget-layered-nav-list{
		margin-top: -10px;
		li{
			&.wc-layered-nav-term {
				display: flex;
				align-items:center;
				justify-content: space-between;
			}
			a{
				font-size: 15px;
				font-weight: 700;
				padding: 5px 0;
				color: var(--cms-accent-regular);
				&:hover{
					color: var(--cms-secondary-regular);
				}
			}
			&:last-child{
				margin-bottom: -7px;
			}
			.children{
				padding-inline-start: 15px;
			}
		}
	}
	// Menu categories
	&.widget_nav_menu{
		li.menu-item-object-product_cat{
			a{
				padding: 5px 0;
				display: block;
				color: var(--cms-secondary-regular);
				&:hover{
					color: var(--cms-accent-regular);
				}
			}
			&:first-child{
				margin-top: -15px;
			}
			&:last-child{
				margin-bottom: -15px;
			}
			.children{
				padding-inline-start: 15px;
			}
		}
	}
}