/*
Theme Name: Allianz Child
Template: allianz
Theme URI: https://7oroof.com/tfdemos/allianz
Author: 7oroof
Author URI: https://7oroof.com/
Description: Allianz - Modern Consulting & Finance WordPress Theme. Allianz is a stunning, professional and flexible Business Consulting, Finance Services, and Business Advisory multi purpose niche WordPress theme. Allianz based on in-depth research into Modern Consulting, Business Consulting, Investment Consultants, Consulting Firms, Consultants, Consultancy, HR Consulting, Finance Business, Financial Advisors, Financial Firm, Financial Planners, Finance Experts, Corporate Firm, Fintech, Advising, Strategy Planning, Advisory, Accountants, Accountant Services, Accounting Services, Accounting Professionals, Small Business, Insurance Agencies, Insurance, Brokers, Bookkeepers or other Finance and Consulting related businesses field to deliver all needed layouts and blocks.
Version: 1.0
Requires at least: 5.8 or Higher
Requires PHP: 7.4 or Higher
Tested up to: 6.4.3
License: ThemeForest
License URI: https://themeforest.net/licenses
Text Domain: allianz-child
Tags: Modern Finance Business & Consulting websites, One Click Demo Import, Elementor Page Builder, Corporate Finance, Financial Planning Advisor, Modern Consulting, Business Consulting, Investment Consultants, Consulting Firms, Consultants, Consultancy, HR Consulting, Finance Business, Financial Advisors, Financial Firm, Financial Planners, Finance Experts, Corporate Firm, Fintech, Advising, Strategy Planning, Advisory, Accountants, Accountant Services, Accounting Services, Accounting Professionals, Small Business, Insurance Agencies, Insurance, Brokers, Bookkeepers
*/